<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" [showAddButton]="false" heading="Team"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="filterForm">
                <lib-form-field [config]="searchName" type="text"></lib-form-field>
                <lib-form-field *ngIf="startDate" [config]="startDate" type="datepicker"></lib-form-field>
                <lib-form-field *ngIf="endDate" [config]="endDate" type="datepicker"></lib-form-field>
                <lib-form-field *ngIf="status" [config]="status" type="dropdown"></lib-form-field>
                <lib-form-field *ngIf="viewRequestType" [config]="viewRequestType" type="dropdown"></lib-form-field>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="searchBtnConfig"></lib-button>
                </div>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
                </div>
            </form>
        </div>
    </div>

    <div class="grid-content-wrap">
        <lib-data-grid *ngIf="teamGridConfig" [gridConfig]="teamGridConfig" [resetSort]="resetSorting"
            [isLoading]="isGridLoading"></lib-data-grid>
    </div>
</div>