<div class="grid-wrapper-inner sdlc-type-wrapper">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" (handleAddClick)="addSdlcType()" tooltipMessage="Add Sdlc"
        [showAddButton]="pagePermissions.isAddPermission" heading="SDLC Type"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="filterForm">
                <lib-form-field *ngIf="status" [config]="status" type="dropdown"></lib-form-field>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="searchBtnConfig"></lib-button>
                </div>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-content-wrap">
        <lib-data-grid *ngIf="sdlcTypeGridConfig" [gridConfig]="sdlcTypeGridConfig"
        [isLoading]="isGridLoading"></lib-data-grid>
    </div>
</div>