<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main-wrap">
    <div class="main-content">
        <div class="main-wrapper-outer">
            <app-page-loader />
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div>