<div class="bottom-btn-wrap">
    <div class="btn-sm">
        <lib-button [buttonConfig]="saveButtonConfig"></lib-button>
    </div>
    <div class="btn-sm">
        <lib-button [buttonConfig]="cancelButtonConfig"></lib-button>
    </div>
</div>