@import url("@styles/filter-block.css");
@import url("@styles/form-elements.css");

.grid-content-wrap .bottom-btn-wrap {
  display: flex;
  align-items: center;
}

.grid-content-wrap .bottom-btn-wrap .btn-sm:not(:last-child) {
  margin-right: 1rem;
}

.add-sdlc-form {
  margin-bottom: -1rem !important;
}