<div class="grid-wrapper-inner">
  <div class="filter-title-wrapper">
    <div class="title-link-wrap">
      <div class="header-breadcrum-nav">
        <ul>
          <li><a routerLink="/" title="Dashboard">Dashboard</a></li>
          <!-- <li>Sitting Arrangement</li> -->
        </ul>
        <h1>Sitting Arrangement</h1>
      </div>
      <div class="right-wrapper mb-0">
        <button mat-fab class="icon-btn plus-btn" #tooltip="matTooltip" matTooltip="Add New Office"
          matTooltipClass="custom-tooltip left-pos" [matTooltipPosition]="'left'">
          <img src="./assets/images/plus-icon-blue.svg" alt="Plus Icon Blue" />
        </button>
      </div>
    </div>
    <div class="dropdown-link-wrapper">
      <form class="left-wrapper">
        <div class="custom-dropdown-wrapper sitting-dropdown-wrapper large-width-field">
          <mat-label>Office</mat-label>
          <mat-form-field class="custom-form-group sm-form-group">
            <mat-select [(ngModel)]="selectedOption" [ngModelOptions]="{ standalone: true }">
              <mat-option value="option1">Select</mat-option>
              <mat-option value="option2">TatvaSoft House - Ground Floor</mat-option>
              <mat-option value="option3">TatvaSoft House - First Floor</mat-option>
              <mat-option value="option4">TatvaSoft House - Second Floor</mat-option>
              <mat-option value="option5">TatvaSoft House - Third Floor</mat-option>
              <mat-option value="option6">TatvaSoft House - Rajkot</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="btn-sm">
          <button mat-button class="primary-border-btn">
            <span class="icon">
              <img src="./assets/images/view.svg" alt="View Icon" />
            </span>
            View
          </button>
        </div>
        <div class="btn-sm">
          <button mat-button class="primary-border-btn">
            <span class="icon">
              <img src="./assets/images/edit-icon.svg" alt="Edit Icon" />
            </span>
            Edit
          </button>
        </div>
        <div class="btn-sm">
          <button mat-button class="primary-border-btn">
            <span class="icon">
              <img src="./assets/images/delete-icon.svg" alt="Delete Icon" />
            </span>
            Delete Layout
          </button>
        </div>
        <div class="btn-sm">
          <button mat-button class="primary-border-btn">
            <span class="icon">
              <img src="./assets/images/responsible-employee.svg" alt="Responsible Employee" />
            </span>
            Set Responsible Employee
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="grid-content-wrap">
    <div [ngSwitch]="selectedOption">
      <div *ngSwitchCase="'option1'"></div>
      <div *ngSwitchCase="'option2'">
        <div class="sitting-arrangement-outer">
          <div class="sitting-arrangement-wrapper">
            <div class="sitting-arrangement">
              <div class="seat-location-outer">
                <div class="list-seat-wrapper">
                  <button mat-button #tooltip="matTooltip" matTooltip="Room" matTooltipClass="custom-tooltip centered"
                    class="room sitting-btn">
                    Room
                  </button>
                  <button mat-button #tooltip="matTooltip" matTooltip="Seating"
                    matTooltipClass="custom-tooltip centered" class="seating sitting-btn">
                    Seating
                  </button>
                  <button mat-button #tooltip="matTooltip" matTooltip="Walk Way"
                    matTooltipClass="custom-tooltip centered" class="walk sitting-btn">
                    Walk Way
                  </button>
                  <button mat-button #tooltip="matTooltip" matTooltip="Obstacle"
                    matTooltipClass="custom-tooltip centered" class="obstacle sitting-btn">
                    Obstacle
                  </button>
                  <button mat-button #tooltip="matTooltip" matTooltip="Release Space"
                    matTooltipClass="custom-tooltip centered" class="clear sitting-btn">
                    Release Space
                  </button>
                  <button mat-button #tooltip="matTooltip" matTooltip="Undo Selection"
                    matTooltipClass="custom-tooltip centered" class="clear sitting-btn">
                    Undo Selection
                  </button>
                </div>
              </div>
              <div class="total-seat-outer">
                <div class="assigned-cell">243</div>
                /
                <div class="seating-cell">387</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'option3'">
        <div class="sitting-arrangement-outer">
          <div class="sitting-arrangement-wrapper">
            <div class="sitting-arrangement">
              <div class="seat-location-outer">
                <button mat-button class="seat-location" (click)="toggleOpen()" [ngClass]="{ active: isOpen }">
                  Seat Allocation
                </button>
                <div class="list-seat-wrapper">
                  <div class="list-seat">
                    <div class="color-box room"></div>
                    <p>Room</p>
                  </div>
                  <div class="list-seat">
                    <div class="color-box seating"></div>
                    <p>Seating</p>
                  </div>
                  <div class="list-seat">
                    <div class="color-box walk"></div>
                    <p>Walk way</p>
                  </div>
                  <div class="list-seat">
                    <div class="color-box obstacle"></div>
                    <p>Obstacle</p>
                  </div>
                </div>
              </div>
              <div class="total-seat-outer">
                <div class="assigned-cell">243</div>
                /
                <div class="seating-cell">387</div>
              </div>
            </div>
            <div class="team-list-outer" [ngClass]="{ open: isOpen }">
              <div class="team-list-wrapper">
                <div class="team-list team1">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Vipul Bhoraniya (0/14)</p>
                  </div>
                </div>
                <div class="team-list team2">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Parind Shah (32/36)</p>
                  </div>
                </div>
                <div class="team-list team3">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Hardik Badani (26/47)</p>
                  </div>
                </div>
                <div class="team-list team4">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Mehul Panchal (16/18)</p>
                  </div>
                </div>
                <div class="team-list team5">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Maulik Shukla (1/35)</p>
                  </div>
                </div>
                <div class="team-list team6">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Vishal Shah (24/27)</p>
                  </div>
                </div>
                <div class="team-list team7">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Foramkumar Patel (14/28)</p>
                  </div>
                </div>
                <div class="team-list team8">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Rajendrasinh Padhiyar (53/71)</p>
                  </div>
                </div>
                <div class="team-list team9">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Dipen Suthar (25/27)</p>
                  </div>
                </div>
                <div class="team-list team10">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Milan Patel (16/34)</p>
                  </div>
                </div>
                <div class="team-list team11">
                  <div class="team-list-inner">
                    <div class="color-box"></div>
                    <p>Hardik Devariya (33/48)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'option4'">
        <div class="sitting-arrangement-outer">
          <p>TatvaSoft House - Second Floor</p>
        </div>
      </div>
      <div *ngSwitchCase="'option5'">
        <div class="sitting-arrangement-outer">
          <p>TatvaSoft House - Third Floor</p>
        </div>
      </div>
      <div *ngSwitchCase="'option6'">
        <div class="sitting-arrangement-outer">
          <p>TatvaSoft House - Rajkot</p>
        </div>
      </div>
    </div>
    <div class="sitting-location-structure-wrap">
      <div class="siting-location-inner">
        <div class="sitting-row">
          <div class="sitting-col room"></div>
          <div class="sitting-col seating">
            <div class="inner-sitting"></div>
          </div>
          <div class="sitting-col walk"></div>
          <div class="sitting-col obstacle"></div>
          <div class="sitting-col obstacle">
            <em class="arrow-icon">
              <img src="./assets/images/left-arrow-long-black.svg" alt="arrow-left" />
            </em>
            <span class="seat-location">Enter</span>
          </div>
          <div class="sitting-col obstacle">
            <em class="arrow-icon">
              <img src="./assets/images/right-arrow-long-black.svg" alt="arrow-left" />
            </em>
            <span class="seat-location">Enter</span>
          </div>
          <div class="sitting-col obstacle">
            <em class="arrow-icon">
              <img src="./assets/images/up-arrow-long-black.svg" alt="arrow-left" />
            </em>
            <span class="seat-location">Enter</span>
          </div>
          <div class="sitting-col obstacle">
            <em class="arrow-icon">
              <img src="./assets/images/down-arrow-long-black.svg" alt="arrow-left" />
            </em>
            <span class="seat-location">Enter</span>
          </div>
          <div class="sitting-col" (click)="toggleSelectedClass()" [ngClass]="{ selected: isSelect }"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
        </div>
        <div class="sitting-row">
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
          <div class="sitting-col"></div>
        </div>
      </div>
    </div>
  </div>
</div>