@import url("@styles/filter-block.css");
@import url("@styles/form-elements.css");
@import url("@styles/attendance-table.css");

.attendance-table-wrapper .fill-btn-wrapper {
  text-align: right;
  margin-top: 10px;
}

.attendance-table-outer .attendance-month-wrapper .scenario-wrapper {
  margin-bottom: 0;
}

.attendance-table-outer .attendance-month-wrapper .scenario-wrapper .scenario-item {
  padding-bottom: 0;
}

.custom-breadcrumb-strip.has-button {
  padding-bottom: 0;
  border-bottom: none;
}


.attendance-table thead .mat-mdc-header-row,
.attendance-table tbody .mat-mdc-row {
  height: 4rem;
}


.attendance-table-outer thead th>.day {
  display: block;
  text-transform: uppercase;
}

.attendance-table-outer tbody .mat-mdc-header-row th,
.attendance-table-outer tbody .mat-mdc-row td {
  padding: 0;
  max-width: 3rem;
  text-align: center;
}

.attendance-table-outer thead .mat-mdc-header-row ,
.attendance-table-outer tbody .mat-mdc-row {
  border-left: 1px solid var(--tablecell-border);
}


.attendance-table tbody .mat-mdc-row th {
  background-color: var(--light-gray10);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  border: none;
  line-height: 1.35;
  white-space: nowrap;
  font-weight: 400;
  border-right: 0.1rem solid var(--tablecell-border);
  background-clip: padding-box;
  border-bottom: 0.1rem solid var(--tablecell-border);
}

.checkbox-filter {
  align-self: center ;
  margin-top: 1.5rem;
}

.no-data-found {
  border: 1px solid var(--tablecell-border);
  border-right: none;
  text-align: center;
  padding: 1.5rem;
  color: var(--gray2);
}

::ng-deep .dark-theme .no-data-found {
  border: 1px solid var(--dark-black5);
}