@import url("@styles/filter-block.css");
@import url("@styles/form-elements.css");
@import url("@styles/custom-helper.css");

::ng-deep.modal-wrapper .modal-footer button:last-child {
    margin-left: 1rem;
}

::ng-deep .grid-error-wrapper .filter-title-wrapper .title-link-wrap {
    margin-bottom: 0;
}

.error-inner-wrapper .add-error-form {
    margin-bottom: -1rem !important;
}

.error-inner-wrapper .error-desc {
    font-size: 1.4rem;
    line-height: 1.3;
    min-height: 3.6rem;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    word-break: break-word;
}

::ng-deep .dark-theme .error-inner-wrapper .error-desc{
    background: var(--dark-black4) !important;
    border:0.1rem solid var(--dark-tablecell-border) !important;
}