@import url("@styles/filter-block.css");
@import url("@styles/form-elements.css");
@import url("@styles/workspace-table.css");
@import url("@styles/modal.css");

.dropdown-link-wrapper .left-wrapper {
    align-items: normal;
}

.filter-btn-wrapper {
    margin-top: 2rem;
}