
<div class="input-wrap custom-radio-checkbox-wrapper">
    <mat-label>choose</mat-label>
    <div class="custom-radio-checkbox-list">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button class="custom-radio" value="1" checked>Option 1</mat-radio-button>
            <mat-radio-button class="custom-radio" value="2">Option 2</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
