<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" (handleAddClick)="addSystemType()" tooltipMessage="Add System Type"
            [showAddButton]="pagePermissions.isAddPermission" heading="System Type"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="filterForm">
                <lib-form-field [config]="searchName" type="text"></lib-form-field>
                <lib-form-field *ngIf="status" [config]="status" type="dropdown"></lib-form-field>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="searchBtnConfig"></lib-button>
                </div>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
                </div>
            </form>
        </div>
    </div>

    <div class="grid-content-wrap">
        <lib-data-grid *ngIf="systemTypeGridConfig" [gridConfig]="systemTypeGridConfig" [isLoading]="isGridLoading" [resetSort]="resetSorting"></lib-data-grid>
    </div>
</div>