<div class="grid-wrapper-inner pre-sales-wrapper">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" (handleAddClick)="addMemberRole()" tooltipMessage="Add Member Role"
            [showAddButton]="pagePermissions.isAddPermission" heading="Member Role"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="filterForm">
                <lib-form-field [config]="memberName" type="autocomplete"></lib-form-field>
                <lib-form-field *ngIf="designationDropDown" [config]="designationDropDown"
                    type="dropdown"></lib-form-field>
                <lib-form-field *ngIf="status" [config]="status" type="dropdown"></lib-form-field>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="searchBtnConfig"></lib-button>
                </div>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
                </div>
            </form>
            <div class="right-wrapper"></div>
        </div>
    </div>
    <div class="grid-content-wrap">
        <lib-data-grid *ngIf="memberGridConfig" [gridConfig]="memberGridConfig"
            [isLoading]="isGridLoading"></lib-data-grid>
    </div>
</div>