<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <div class="title-link-wrap">
            <div class="header-breadcrum-nav">
                <ul>
                    <li><a title="Admin">Admin</a></li>
                    <li><a title="Holiday">Holiday</a></li>
                </ul>
                <h1>Holiday</h1>
            </div>
            <div class="btn-wrapper" *ngIf="pagePermissions.isAddPermission">
                <div class="fill-btn-wrapper btn-sm">
                    <button mat-button class="custom-border-btn" (click)="addWeekoff()">
                        <em class="primary-icon">
                            <img src="../../../../../../assets/images/plus-icon-blue.svg" alt="Checkmark White" />
                        </em>
                        Add Week-off
                    </button>
                </div>
                <div class="fill-btn-wrapper btn-sm">
                    <button mat-button class="custom-border-btn" (click)="addPublicHoliday()">
                        <em class="primary-icon">
                            <img src="../../../../../../assets/images/plus-icon-blue.svg" alt="Checkmark White" />
                        </em>
                        Add Public Holiday
                    </button>
                </div>
            </div>
        </div>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="filterForm">
                <lib-form-field [config]="searchName" type="text"></lib-form-field>
                <lib-form-field *ngIf="startDate" [config]="startDate" type="datepicker" [isSubmitted]="submitted"></lib-form-field>
                <lib-form-field *ngIf="endDate" [config]="endDate" type="datepicker" [isSubmitted]="submitted"></lib-form-field>
                <lib-form-field *ngIf="isPublicHoliday" [config]="isPublicHoliday" type="dropdown"></lib-form-field>
                <div class="filter-btn-wrapper">
                    <div class="inner-wrapper">
                        <div class="btn-sm">
                            <lib-button [buttonConfig]="searchBtnConfig"></lib-button>
                        </div>
                        <div class="btn-sm">
                            <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-content-wrap">
        <lib-data-grid *ngIf="holidayGridConfig" [gridConfig]="holidayGridConfig" [resetSort]="resetSorting"
            [isLoading]="isGridLoading"></lib-data-grid>
    </div>
</div>