@import url("@styles/filter-block.css");
@import url("@styles/custom-helper.css");
@import url("@styles/form-elements.css");
@import url("@styles/workspace-table.css");
@import url("@styles/modal.css");

.dropdown-link-wrapper .left-wrapper {
    width: auto !important;
    align-items: normal;
}

.filter-btn-wrapper {
    margin-top: 2rem;
}

::ng-deep .workspace-table tr th.user,
::ng-deep .workspace-table tr td.user {
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
}

::ng-deep .workspace-table tr th.date,
::ng-deep .workspace-table tr td.date {
    width: 20rem;
    min-width: 20rem;
    max-width: 20rem;
}

::ng-deep .workspace-table tr th.ipAddress,
::ng-deep .workspace-table tr td.ipAddress {
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
}

::ng-deep .workspace-table tr th.details,
::ng-deep .workspace-table tr td.details {
    width: 45rem;
    min-width: 45rem;
    max-width: 45rem;
}

::ng-deep .workspace-table tr th.browser,
::ng-deep .workspace-table tr td.browser {
    width: 20rem;
    min-width: 20rem;
    max-width: 20rem;
}

::ng-deep .workspace-table tr th.checkbox-column,
::ng-deep .workspace-table tr td.checkbox-column {
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;
}
::ng-deep lib-button:has(> .icon-btn.mat-mdc-button-disabled){
    cursor: not-allowed !important;
}
::ng-deep lib-button .mat-mdc-button-disabled {
    pointer-events:none !important;
}