<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" tooltipMessage="Add Lookup Category"
             [showAddButton]="false" heading="Lookup Category"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="filterForm">
                <lib-form-field [config]="searchName" type="text"></lib-form-field>
                <lib-form-field *ngIf="editable" [config]="editable" type="dropdown"></lib-form-field>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="searchBtnConfig"></lib-button>
                </div>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
                </div>
            </form>
        </div>
    </div>

    <div class="grid-content-wrap">
        <lib-data-grid *ngIf="lookupCategoryGridConfig" [gridConfig]="lookupCategoryGridConfig" [resetSort]="resetSorting"
            [isLoading]="isGridLoading"></lib-data-grid>
    </div>
</div>