@import url("@styles/filter-block.css");
@import url("@styles/custom-helper.css");
@import url("@styles/form-elements.css");
@import url("@styles/workspace-table.css");
@import url("@styles/modal.css");

::ng-deep .skeleton-loader {
    margin-top: 5px;
    margin-bottom: 0 !important;
    background-color: #F5F5F8 !important;
    border-radius: 2px !important;
}


::ng-deep .workspace-table.visible.mat-mdc-table tr:hover td.mat-mdc-cell {
    background-color: var(--light-gray);
}

.dropdown-link-wrapper .left-wrapper {
    width: auto !important;
}

::ng-deep .workspace-table tr th.user,
::ng-deep .workspace-table tr td.user {
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
}

::ng-deep .workspace-table tr th.date,
::ng-deep .workspace-table tr td.date {
    width: 20rem;
    min-width: 20rem;
    max-width: 20rem;
}

::ng-deep .workspace-table tr th.module,
::ng-deep .workspace-table tr td.module {
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
}

::ng-deep .workspace-table tr th.page,
::ng-deep .workspace-table tr td.page {
    width: 20rem;
    min-width: 20rem;
    max-width: 20rem;
}

::ng-deep .workspace-table tr th.details,
::ng-deep .workspace-table tr td.details {
    width: 30rem;
    min-width: 30rem;
    max-width: 30rem;
}

::ng-deep .workspace-table tr th.ipAddress,
::ng-deep .workspace-table tr td.ipAddress {
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
}

::ng-deep .workspace-table tr th.checkbox-column,
::ng-deep .workspace-table tr td.checkbox-column {
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;
}

::ng-deep .mat-mdc-select-placeholder {
    font-size: 1.3rem;
    color: var(--black) !important;
    transition: all 0s !important;
}

::ng-deep .dark-theme .mat-mdc-select-placeholder {
    font-size: 1.3rem;
    color: var(--white) !important;
}

::ng-deep lib-button:has(> .icon-btn.mat-mdc-button-disabled){
    cursor: not-allowed !important;
}
::ng-deep lib-button .mat-mdc-button-disabled {
    pointer-events:none !important;
}