@import url("@styles/filter-block.css");
@import url("@styles/form-elements.css");
@import url("@styles/attendance-table.css");

.attendance-table-wrapper .fill-btn-wrapper {
  text-align: right;
  margin-top: 10px;
}

.attendance-table-outer .attendance-month-wrapper .scenario-wrapper {
  margin-bottom: 0;
}

.attendance-table-outer .attendance-month-wrapper .scenario-wrapper .scenario-item {
  padding-bottom: 0;
}

.custom-breadcrumb-strip.has-button {
  padding-bottom: 0;
  border-bottom: none;
}


.attendance-table thead .mat-mdc-header-row,
.attendance-table tbody .mat-mdc-row {
  height: 4rem;
}


::ng-deep .attendance-table-outer thead th>.day {
  display: block;
  text-transform: uppercase;
}

::ng-deep .attendance-table-outer tbody .mat-mdc-header-row th,
::ng-deep .attendance-table-outer tbody .mat-mdc-row td {
  padding: 0;
  max-width: 3rem;
  text-align: center;
}

/* ::ng-deep .attendance-table-outer tbody .mat-mdc-row td :not(:first-child) {
  width: 50px;
} */

/* ::ng-deep .attendance-table-outer thead .mat-mdc-header-row,
::ng-deep .attendance-table-outer tbody .mat-mdc-row {
  border-left: 1px solid var(--tablecell-border);
} */

::ng-deep .attendance-table tbody .mat-mdc-row th {
  background-color: var(--light-gray10);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  border: none;
  line-height: 1.35;
  white-space: nowrap;
  font-weight: 400;
  border-right: 0.1rem solid var(--tablecell-border);
  background-clip: padding-box;
  border-bottom: 0.1rem solid var(--tablecell-border);
}


::ng-deep .attendance-table-outer .mat-mdc-row .today-box {
  box-shadow: 0 0 0px 1px var(--blue2) inset;
}

::ng-deep .attendance-table .name-col {
  white-space: unset !important;
}

::ng-deep .attendance-table .name-col,
::ng-deep .attendance-table .ro-name {
  position: sticky !important;
}

::ng-deep .attendance-table .name-col:before,
::ng-deep .attendance-table .ro-name:before {
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: var(--tablecell-border);
  content: " ";
  top: 0;
}

.viewport {
  min-height: calc(100vh - 400px);
  display: block;
  width: 100%;
  transition: none all !important;
  scroll-behavior: smooth;
}

::ng-deep .attendance-table .td-full-width {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.4rem 0.4rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

::ng-deep .mat-mdc-menu-panel {
  box-shadow: none !important;
  border: 2px solid var(--tablecell-border);
  border-radius: 4px;
  max-height: 275px;
  min-width: unset;
  max-width: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  background: var(--white);
  width: 100%;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-content {
  padding: 0;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-item {
  padding: 0.9rem 1rem;
  font-size: 1.3rem !important;
  min-height: auto !important;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-item:not([disabled]):hover,
::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-item.active {
  background-color: var(--light-gray2) !important;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-size: 1.3rem !important;
  line-height: 1.28 !important;
  color: var(--black) !important;
  font-weight: 400;
}

::ng-deep .dark-theme .attendance-table .name-col:before,
::ng-deep .dark-theme .attendance-table .ro-name:before {
  background-color: var(--dark-black5);
}

::ng-deep .dark-theme .mat-mdc-menu-panel .mat-mdc-menu-item {
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .mat-mdc-menu-panel .mat-mdc-menu-item:not([disabled]):hover,
::ng-deep .dark-theme .mat-mdc-menu-panel .mat-mdc-menu-item.active {
  background-color: var(--dark-white7) !important;
}

::ng-deep .dark-theme .mat-mdc-menu-panel {
  border-color: var(--dark-white4) !important;
}

::ng-deep .dark-theme .mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  color: var(--white) !important;
}

::ng-deep .dark-theme .attendance-table-outer .mat-mdc-row .today-box {
  box-shadow: 0 0 0px 1px var(--dark-white4) inset;
}

.attendance-table thead tr th:first-child {
  position: sticky !important;
  z-index: 100;
  border-collapse: separate !important;
}

.attendance-table thead tr th:not(:first-child) {
  position: sticky !important;
  z-index: 99;
}

.attendance-table {
  border-collapse: separate !important;
}

.attendance-table tbody tr th:not(:first-child)::before {
  background-color: transparent;
}

::ng-deep .attendance-table-outer .red-font {
  color: var(--black) !important;
}

::ng-deep .attendance-table-outer .green-font {
  color: var(--dark-green7) !important;
  font-weight: 500 !important;
}

::ng-deep .attendance-table-outer .half-leave-box.red-font {
  color: var(--black) !important;
}

::ng-deep .attendance-table-outer .half-leave-box.green-font {
  color: var(--blue2) !important;
}

::ng-deep .attendance-table-outer .full-leave-box.red-font {
  color: var(--black) !important;
}

::ng-deep .attendance-table-outer .full-leave-box.green-font {
  color: var(--red4) !important;
}

::ng-deep .dark-theme .attendance-table-outer .red-font {
  color: var(--dark-white6) !important;
}

::ng-deep .dark-theme .attendance-table-outer .green-font {
  color: var(--white) !important;
  font-weight: 500 !important;
}

::ng-deep .dark-theme .attendance-table-outer .half-leave-box.red-font {
  color: var(--dark-white6) !important;
}

::ng-deep .dark-theme .attendance-table-outer .half-leave-box.green-font {
  color: var(--white) !important;
}

::ng-deep .dark-theme .attendance-table-outer .full-leave-box.red-font {
  color: var(--dark-white6) !important;
}

::ng-deep .dark-theme .attendance-table-outer .full-leave-box.green-font {
  color: var(--white) !important;
}