.page-loader-box {
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}

.page-loader-box .loader-holder img{
    width: 70px;
    height: 70px;    
}
