@import url("@styles/filter-block.css");
@import url("@styles/form-elements.css");
@import url("@styles/workspace-table.css");
@import url("@styles/modal.css");

::ng-deep .workspace-table tr th.notificationtype-column,
::ng-deep .workspace-table tr td.notificationtype-column{
    width: 34.5rem;
    min-width: 34.5rem;
    max-width: 34.5rem;
}
::ng-deep .workspace-table tr th.title-column,
::ng-deep .workspace-table tr td.title-column{
    width: 30rem;
    min-width: 30rem;
    max-width: 30rem;
}
