::ng-deep .mat-mdc-button-touch-target {
  height: 3.6rem !important;
}

.filter-title-wrapper {
  /* padding: 2rem 2rem 1.5rem 2rem; */
  padding: 2rem;
}

::ng-deep .title-secondary-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .title-secondary-wrap h2 {
  font-size: 1.6rem;
  margin-right: 1.5rem;
}

::ng-deep .title-secondary-wrap .btn-wrapper {
  margin-left: auto;
}

::ng-deep .filter-title-wrapper .title-link-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  border-bottom: 0.2rem solid var(--tablecell-border);
  padding-bottom: 1rem;
}

::ng-deep body.dark-theme .filter-title-wrapper .title-link-wrap,
body.dark-theme .filter-title-wrapper .title-link-wrap {
  border-bottom: 1px solid var(--dark-tablecell-border) !important;
}

.filter-title-wrapper .title-link-wrap:last-child {
  margin-bottom: -0.5rem;
}

.filter-title-wrapper .right-wrapper {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.filter-title-wrapper .right-wrapper a {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 1.4rem;
  text-underline-offset: 0.4rem;
}

.filter-title-wrapper .right-wrapper a:hover {
  text-decoration: none;
}

.dropdown-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1rem;
}

.dropdown-link-wrapper .left-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
}

.dropdown-link-wrapper .left-wrapper>* {
  margin-bottom: 1rem;
}

.dropdown-link-wrapper .left-wrapper>*:not(:last-child) {
  margin-right: 1rem;
}

.dropdown-link-wrapper .left-wrapper>.btn-sm:not(:last-child) {
  margin-right: 0.8rem;
}

.dropdown-link-wrapper .left-wrapper p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
}

.dropdown-link-wrapper .filter-btn-wrapper .inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-link-wrapper .filter-btn-wrapper .btn-sm:not(:last-child) {
  margin-right: 1rem;
}

.dropdown-link-wrapper .custom-radio-checkbox-wrapper.full-width {
  width: 100%;
}

.dropdown-link-wrapper .custom-radio-checkbox-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown-link-wrapper .custom-radio-checkbox-wrapper .icon-btn {
  margin-left: 1rem;
}

.dropdown-link-wrapper .left-wrapper .primary-btn,
.dropdown-link-wrapper .left-wrapper .primary-border-btn {
  margin-right: 1rem;
}

.dropdown-link-wrapper .left-wrapper .button-wrapper {
  display: flex;
  min-height: 36px;
  align-items: center;
}

.dropdown-link-wrapper .left-wrapper .button-wrapper>*:not(:last-child) {
  margin-right: 1rem;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text,
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  color: var(--black) !important;
  line-height: 1.28;
  font-size: 1.3rem !important;

}

::ng-deep .mat-mdc-option {
  min-height: auto !important;
}

::ng-deep .mat-mdc-option,
::ng-deep .mat-mdc-select-value-text {
  font-size: 1.3rem !important;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--white);
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar-thumb {
  background: var(--light-gray3);
  -webkit-border-radius: 12px;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar-corner {
  background: var(--white);
}

.primary-btn,
.primary-border-btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

::ng-deep .input-wrapper.mat-focused .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
  opacity: 0 !important;
}

::ng-deep .input-wrapper .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  height: 4rem;
  line-height: 4rem;
  width: 25.1rem;
  padding: 0 1.2rem !important;
}

::ng-deep .input-wrapper .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep .input-wrapper .mat-mdc-form-field-infix {
  padding: 0 !important;
  min-height: 4rem !important;
  line-height: 3.8rem !important;
}

::ng-deep .claim-grid-inner .left-wrapper .mat-mdc-form-field-type-mat-select {
  width: 18rem;
  min-width: 18rem;
}

.leave-allocation-outer .left-wrapper .dropdown-btn-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.leave-allocation-outer .custom-dropdown-wrapper .mat-mdc-form-field,
::ng-deep .leave-allocation-outer .input-wrapper .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  width: 18rem;
}

::ng-deep .leave-allocation-outer .mat-mdc-form-field-infix {
  width: 15.6rem;
}

.leave-allocation-outer .dropdown-top-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}

.dropdown-link-wrapper .text-wrapper p {
  font-size: 1.1rem;
}

.dropdown-link-wrapper .left-wrapper .import-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
}

.dropdown-link-wrapper .left-wrapper .import-wrapper>* {
  margin-bottom: 1rem;
}

.dropdown-link-wrapper .import-wrapper .file-upload-block {
  margin-right: 1rem;
}

.dropdown-link-wrapper .left-wrapper .input-wrapper:not(:last-child) {
  margin-right: 1rem;
}

.dropdown-link-wrapper+.dropdown-link-wrapper {
  margin-top: 1rem;
}

.dropdown-link-wrapper .link-wrapper span {
  display: block;
}

.dropdown-link-wrapper .link-wrapper span:not(:last-child) {
  margin-bottom: 1rem;
}

.dropdown-link-wrapper .table-icon-btn {
  padding: 1rem;
  height: 5.6rem;
  background: var(--light-gray2);
  width: 5.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown-link-wrapper .table-icon-btn img {
  height: 28px;
  width: 28px;
}

.grid-wrapper-inner .align-top {
  align-items: flex-start;
}

.dropdown-link-wrapper .left-wrapper.align-top .align-top {
  align-items: flex-start;
}

.dropdown-link-wrapper .left-wrapper.align-top .text-wrapper {
  height: 5.6rem;
  display: inline-flex;
  align-items: center;
}

/* header breadcrum styles start*/
::ng-deep .header-breadcrum-nav {
  /* margin-bottom: 0.8rem; */
  display: flex;
  flex-direction: column;
}

::ng-deep .header-breadcrum-nav>ul {
  display: flex;
  margin-bottom: 0.6rem;
}

::ng-deep .header-breadcrum-nav>ul li,
::ng-deep .header-breadcrum-nav>ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
}

::ng-deep .header-breadcrum-nav>ul li a {
  /* color: var(--black); */
  color: var(--breadcrumb-gray);
}

::ng-deep .header-breadcrum-nav>ul li {
  /* color: var(--breadcrumb-gray); */
  position: relative;
}

::ng-deep .header-breadcrum-nav>ul li+li {
  padding-left: 1.3rem;
}

::ng-deep .header-breadcrum-nav>ul li+li::before {
  position: absolute;
  content: "/";
  top: 50%;
  left: 0.5rem;
  color: var(--breadcrumb-gray);
  font-size: 1rem;
  transform: translateY(-50%);
}

::ng-deep .dark-theme .header-breadcrum-nav>ul li+li::before {
  color: var(--light-gray5) !important;
}

/* header breadcrum styles end*/
@media (max-width: 1180px) {
  .dropdown-link-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .dropdown-link-wrapper .left-wrapper.has-multi-row>.dropdown-top-row {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  ::ng-deep .custom-dropdown-wrapper {
    width: 100%;
  }

  .dropdown-row>.custom-dropdown-wrapper {
    margin-right: 0 !important;
  }

  ::ng-deep .dropdown-link-wrapper .custom-check {
    width: 100%;
  }

  .file-upload-form-group {
    max-width: 100%;
  }

  ::ng-deep .input-wrapper .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    width: 100% !important;
  }

  /* .dropdown-link-wrapper .left-wrapper > *:not(.mdc-button, app-button,app-file-input,.link-wrap){
    margin-right: 0 !important;
  } */
  .dropdown-link-wrapper .left-wrapper .input-wrapper {
    width: 100%;
  }

  .dropdown-link-wrapper .left-wrapper.has-multi-row .left-row .dropdown-btn-row>*:not(.mdc-button, .mat-mdc-checkbox, app-button),
  .dropdown-link-wrapper .left-wrapper.has-multi-row .left-row.dropdown-btn-row>*:not(.mdc-button, .mat-mdc-checkbox, app-button) {
    margin-right: 0 !important;
  }

  .dropdown-link-wrapper .left-wrapper {
    margin-right: 0 !important;
  }

  .dropdown-link-wrapper .left-wrapper .input-wrapper:not(:last-child) {
    margin-right: 0;
  }

  .input-wrap {
    width: 100%;
  }
}