::ng-deep .primary-btn {
  background-color: var(--blue2) !important;
  color: var(--white) !important;
  border: none !important;
  outline: none !important;
  border-radius: 0.2rem !important;
  border: 0.15rem solid var(--blue2) !important;
  transition: all 0.5s;
  height: 5.6rem !important;
  line-height: 5.4rem !important;
  padding: 0 1rem !important;
  min-width: unset !important;
  font-weight: 400 !important;
}

a.primary-btn,
a.primary-border-btn,
a.custom-border-btn {
  text-decoration: none !important;
}

::ng-deep .primary-btn .mdc-button__label,
::ng-deep .primary-border-btn .mdc-button__label {
  font-weight: 400 !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

::ng-deep .primary-border-btn .mdc-button__label .icon {
  max-width: 16px;
  display: inline-flex;
  margin: 0 10px 0 0;
  filter: brightness(46.4%);
}

::ng-deep .primary-border-btn:hover .mdc-button__label .icon {
  filter: brightness(0);
}

::ng-deep .primary-btn.btn-lg {
  height: 5.6rem !important;
}

::ng-deep .primary-btn:hover {
  background-color: var(--hover-blue2) !important;
  border: 0.15rem solid var(--hover-blue2) !important;
}

::ng-deep .primary-btn .primary-icon,
::ng-deep .primary-border-btn .primary-icon,
::ng-deep .custom-border-btn .primary-icon {
  max-width: 14px;
  margin-right: 8px;
  margin-top: -1px;
}

::ng-deep .primary-btn .primary-icon img,
::ng-deep .primary-border-btn .primary-icon img,
::ng-deep .custom-border-btn .primary-icon img {
  height: 1.3rem;
  width: 1.3rem;
}

::ng-deep .primary-border-btn .primary-icon img,
::ng-deep .custom-border-btn .primary-icon img {
  filter: brightness(46.4%);
}

::ng-deep .primary-border-btn:hover .primary-icon img,
::ng-deep .custom-border-btn:hover .primary-icon img {
  filter: brightness(0);
}

::ng-deep .primary-btn .icon {
  display: block;
  line-height: 0;
  font-style: normal;
}

::ng-deep .primary-btn .hover-img {
  display: none;
}

::ng-deep .primary-btn:hover .hover-img {
  display: block;
}

::ng-deep .primary-btn:hover .normal-img {
  display: none;
}

::ng-deep .primary-border-btn {
  border: none !important;
  outline: none !important;
  color: var(--black) !important;
  background-color: var(--light-gray) !important;
  border-radius: 0.2rem !important;
  /* border: 0.15rem solid var(--white) !important; */
  transition: all 0.5s;
  height: 5.6rem !important;
  line-height: 5.6rem !important;
  padding: 0 1rem !important;
  min-width: unset !important;
  font-weight: 400 !important;
}

::ng-deep .primary-border-btn.btn-lg {
  height: 5.6rem !important;
}

::ng-deep .custom-border-btn {
  outline: none !important;
  color: var(--black) !important;
  background-color: var(--white) !important;
  border-radius: 0.2rem !important;
  border: 0.15rem solid var(--tablecell-border) !important;
  transition: all 0.5s;
  height: 5.6rem !important;
  line-height: 5.6rem !important;
  padding: 0 1rem !important;
  min-width: unset !important;
  font-weight: 400 !important;
  font-size: 1.3rem !important;
}

::ng-deep .primary-border-btn:hover,
::ng-deep .custom-border-btn:hover {
  background-color: var(--light-gray10) !important;
  /* border: 0.15rem solid var(--light-gray) !important; */
}

::ng-deep .custom-border-btn .mdc-button__label {
  display: flex;
  align-items: center;
}

::ng-deep .custom-border-btn .mdc-button__label .primary-icon {
  margin-top: 1px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

::ng-deep .custom-dropdown-wrapper .custom-form-group.mat-mdc-form-field-has-icon-prefix {
  width: 100%;
}

::ng-deep .custom-dropdown-wrapper .custom-form-group.mat-mdc-form-field-has-icon-prefix .prefix-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.7rem;
}

::ng-deep .custom-dropdown-wrapper .custom-form-group.mat-mdc-form-field-has-icon-prefix .prefix-icon img {
  width: 1.7rem;
}

::ng-deep .dark-theme .custom-dropdown-wrapper .custom-form-group.mat-mdc-form-field-has-icon-prefix .prefix-icon img {
  filter: brightness(0) invert(1) !important;
}

::ng-deep .custom-dropdown-wrapper .custom-form-group.mat-mdc-form-field-has-icon-prefix .mat-mdc-form-field-icon-prefix {
  padding: 0;
}

::ng-deep .custom-dropdown-wrapper .custom-form-group.mat-mdc-form-field-has-icon-prefix .mat-mdc-select {
  padding-left: 2.7rem;
}

::ng-deep .custom-dropdown-wrapper .custom-form-group.multiple-search-group.mat-mdc-form-field-has-icon-prefix .mat-mdc-select {
  padding-left: 0;
}

::ng-deep .custom-dropdown-wrapper .mat-mdc-select-value {
  margin-right: 0.3rem;
}

::ng-deep .custom-dropdown-wrapper .mat-mdc-select-arrow svg {
  display: none !important;
}

::ng-deep .custom-dropdown-wrapper .mdc-floating-label {
  color: var(--black) !important;
  font-size: 1.4rem;
}

::ng-deep .mat-mdc-select-arrow:before {
  position: absolute;
  left: 0;
  top: -0.1rem !important;
  transition: all 0.3s;
  height: 1.2rem;
  width: 1.2rem;
  background-image: url(../images/black-down-arrow.svg);
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  transform-origin: center;
}

::ng-deep .custom-dropdown-wrapper .mat-mdc-select[aria-expanded="true"] .mat-mdc-select-arrow:before {
  transform: rotate(180deg) !important;
}

::ng-deep .custom-dropdown-wrapper mat-label,
::ng-deep .input-wrap mat-label,
::ng-deep .datepicker-wrapper mat-label,
::ng-deep .editorTemplate mat-label {
  margin-bottom: 0.3rem;
  display: block;
  text-transform: capitalize;
}

::ng-deep .without-label {
  margin-top: 20px;
}

::ng-deep .custom-color-group .mat-mdc-select-trigger {
  min-height: 3.3rem;
}

::ng-deep .color-option-box {
  width: 100%;
  display: flex;
  align-items: center;
}

::ng-deep .color-option-box .color-box {
  width: 18px;
  height: 18px;
  background: var(--gray4);
  margin-right: 10px;
}

::ng-deep .custom-switch-block mat-label {
  margin-bottom: 0.5rem;
}

::ng-deep .mat-pseudo-checkbox {
  display: none !important;
}

::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-full {
  display: inline-block !important;
}

::ng-deep .mat-mdc-option .mat-pseudo-checkbox.mat-pseudo-checkbox-full {
  border-color: var(--tablecell-border);
  background-color: var(--white);
  border-radius: 0.2rem;
}

::ng-deep .dark-theme .mat-mdc-option .mat-pseudo-checkbox.mat-pseudo-checkbox-full {
  border-color: var(--dark-white4);
  background-color: var(--dark-white5);
}

::ng-deep .mat-mdc-option .mat-pseudo-checkbox.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked {
  background-color: var(--blue2);
  border-color: var(--blue2);
}

::ng-deep .custom-dropdown-wrapper .mdc-line-ripple {
  display: none;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  line-height: 1.28 !important;
  font-size: 1.3rem !important;
}

/* ::ng-deep .custom-dropdown-wrapper .mat-mdc-form-field {
  width: 25rem;
} */


::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item--selected,
::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled),
::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: var(--light-gray2) !important;
}

::ng-deep .mat-mdc-select-panel-above div.mat-mdc-select-panel {
  border-bottom: 0;
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  border-top: 0;
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel .custom-form-group {
  padding: 10px;
}

::ng-deep div.mat-mdc-select-panel {
  padding: 0 !important;
  box-shadow: none !important;
  border: 2px solid var(--tablecell-border);
  /* box-shadow: var(--ds-shadow-overlay, 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31)) !important; */
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem -2rem;
}

.form-row.sm {
  max-width: 814px;
  width: 100%;
}

.form-row .form-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 1rem;
  margin: 0 0 2rem;
}

.form-row .form-col .form-col {
  padding: 0;
}

.form-row.has-four-col .form-col {
  flex: 0 0 25%;
  max-width: 25%;
}

.form-row .form-col.full-width {
  flex: 0 0 100%;
  max-width: 100%;
}

.form-row .form-col.col-40 {
  max-width: 40%;
  flex: 0 0 40%;
}

.form-row .form-col.col-60 {
  max-width: 60%;
  flex: 0 0 60%;
}

.form-row .form-col p {
  font-size: 1.2rem;
}

.form-row .form-col .file-upload-block .file-upload-form-group {
  max-width: 100%;
}

::ng-deep .form-row .custom-radio-checkbox-wrapper .custom-radio-checkbox-list {
  min-height: 36px;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

::ng-deep .form-row .form-col .action-wrapper {
  display: flex;
  align-items: center;
}

::ng-deep .form-row .form-col .table-icon-btn {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
}

::ng-deep .form-row .form-col .table-icon-btn:hover img {
  filter: brightness(0);
}

::ng-deep .form-row .form-col .table-icon-btn:hover {
  background-color: var(--light-gray2);
}

::ng-deep .form-row .form-col .table-icon-btn img {
  width: 1.6rem;
  height: 1.6rem;
  filter: brightness(46.4%);
}

::ng-deep .form-row .form-col .table-icon-btn.sm-icon img {
  width: 1.3rem;
  height: 1.3rem;
}

::ng-deep .dark-theme .form-row .form-col .table-icon-btn img {
  filter: brightness(0) invert(0.7);
}

::ng-deep .dark-theme .form-row .form-col .table-icon-btn:hover {
  background-color: var(--dark-white4);
}

::ng-deep .form-row .custom-check .mdc-label {
  max-width: unset;
}

.required {
  color: var(--error);
}

.info-text {
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 300;
  color: var(--gray1) !important;
}

::ng-deep .custom-dropdown-wrapper .mat-mdc-select-arrow {
  width: 1.2rem !important;
  height: 1.2rem !important;
  background-size: 1rem !important;
}

/* ::ng-deep .custom-check {
  margin-left: -1.1rem;
} */
::ng-deep .custom-radio-checkbox-wrapper .custom-radio-checkbox-list {
  margin-left: 0;
}

::ng-deep .select-all {
  padding: 0.9rem 1rem;
}

::ng-deep .select-all .custom-check .mdc-checkbox {
  width: 1.8rem !important;
  height: 1.8rem !important;
  flex: 0 0 1.8rem !important;
}

::ng-deep .select-all .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:checked~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:indeterminate~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true][disabled]~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
::ng-deep .select-all .custom-check .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep .custom-check+.custom-check {
  margin-left: 1rem;
}

::ng-deep .custom-check.large-width-field .mdc-label {
  max-width: 26rem;
}

::ng-deep .custom-check .mdc-label {
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--black);
  transform: scale(1);
  margin-left: 1.2rem;
  padding-left: 0;
  font-weight: 400;
  max-width: 10.3rem;
}

::ng-deep .custom-check .mat-mdc-checkbox-ripple,
::ng-deep .custom-check .mdc-checkbox__ripple {
  display: none;
}

::ng-deep .custom-check .mdc-label~.full-width {
  max-width: 100%;
}

::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:checked~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:indeterminate~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"][disabled]~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"]:enabled~.mdc-checkbox__background {
  border-color: var(--blue2) !important;
  background-color: var(--blue2) !important;
  border-radius: 0.2rem !important;
  width: 1.6rem !important;
  height: 1.6rem !important;
}

::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:checked~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:indeterminate~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"][disabled]~.mdc-checkbox__background {
  opacity: 0.6;
}

::ng-deep .custom-check .mdc-checkbox {
  width: 1.6rem;
  height: 1.6rem;
  flex: 0 0 1.6rem;
  padding: 0;
}

::ng-deep .custom-check .mdc-checkbox .mat-mdc-checkbox-touch-target,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control {
  width: inherit;
  height: inherit;
}

::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__background {
  top: 0;
  left: 0;
}

::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control:focus~.mdc-checkbox__ripple,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple {
  background-color: var(--blue2) !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:focus:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
  border-color: var(--blue2) !important;
}

::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background,
::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background,
.custom-check .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background {
  border-radius: 0.2rem;
  border-color: var(--formfield-border) !important;
  background-color: var(--white) !important;
  width: 1.6rem !important;
  height: 1.6rem !important;
}

::ng-deep .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background {
  opacity: 0.6;
  background-color: var(--light-gray10) !important;
}

::ng-deep .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay,
::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  opacity: 0;
}

::ng-deep .mat-mdc-option {
  padding: 0.9rem 1rem !important;
}

::ng-deep .radio-wrapper .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle,
::ng-deep .radio-wrapper .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--blue2) !important;
}

::ng-deep .radio-wrapper .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color: var(--blue2) !important;
}

::ng-deep .radio-wrapper .mdc-form-field>label {
  color: var(--black);
  padding-left: 0;
  cursor: pointer;
}

::ng-deep .radio-wrapper .mat-mdc-radio-button .mdc-radio .mdc-radio__background::before {
  background-color: var(--blue2) !important;
}

::ng-deep .radio-wrapper .mat-mdc-radio-button {
  cursor: pointer;
}

::ng-deep .radio-wrapper .mat-mdc-radio-button:not(:last-child) {
  margin-right: 1rem;
}

::ng-deep .custom-check .mdc-checkbox:hover .mdc-checkbox__ripple {
  background-color: var(--blue2) !important;
}

::ng-deep .custom-check .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background {
  border-color: var(--mdc-checkbox-unselected-icon-color);
}

::ng-deep .primary-btn.mat-mdc-button .mat-ripple-element {
  background-color: rgba(54, 141, 197, 0.06) !important;
}

::ng-deep .primary-btn.mat-mdc-button .mat-mdc-button-persistent-ripple::before {
  background-color: transparent !important;
}

.link-underline {
  color: var(--blue2);
  font-size: 1.3rem;
  text-underline-offset: 0.4rem;
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

.link-underline.with-underline {
  text-decoration: underline;
}

.link-underline.with-underline:hover {
  text-decoration: none;
}

.link-underline.small {
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 400;
}

::ng-deep .custom-form-group {
  width: 100%;
}

::ng-deep .mat-ripple-element {
  background-color: rgba(11, 46, 88, 0.2) !important;
}

::ng-deep .custom-form-group .mdc-text-field {
  height: 7rem;
  padding: 0 1rem;
  background-color: transparent !important;
  border: 0.2rem solid var(--formfield-border) !important;
  border-radius: 3px !important;
  overflow: unset !important;
}

::ng-deep .custom-form-group .mdc-text-field:hover {
  background-color: var(--formfield-hover-bg) !important;
}

::ng-deep .dark-theme .custom-form-group .mdc-text-field:hover {
  background-color: var(--dark-formfield-hover-bg) !important;
}

::ng-deep .custom-form-group.mat-mdc-form-field-has-icon-suffix .mdc-text-field {
  padding-right: 0;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: var(--blue2);
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder,
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  font-size: 1.3rem !important;
  color: var(--black) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
  opacity: 0.5 !important;
}

::ng-deep .custom-form-group .mat-mdc-form-field-flex {
  height: 100%;
  width: 100% !important;
}

::ng-deep .small-width-field .mat-mdc-form-field-flex {
  width: 10rem !important;
}

::ng-deep .large-width-field .mat-mdc-form-field-flex {
  width: 26rem !important;
}

::ng-deep .custom-check.large-width-field .mdc-label {
  max-width: 26rem;
}

::ng-deep .custom-form-group .mat-mdc-form-field-infix {
  height: 100%;
}

::ng-deep .custom-form-group .mdc-text-field .mdc-line-ripple::before,
::ng-deep .custom-form-group .mdc-text-field .mdc-line-ripple::after {
  display: none !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  display: none !important;
}

::ng-deep .mdc-text-field--filled {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

::ng-deep .custom-form-group .mdc-text-field .mat-mdc-form-field-focus-overlay,
::ng-deep .custom-dropdown-wrapper .mdc-text-field .mat-mdc-form-field-focus-overlay {
  display: none !important;
}

::ng-deep .custom-form-group .mdc-text-field .mat-mdc-form-field-flex .mat-mdc-floating-label {
  font-size: 1.3rem;
  line-height: 1.28;
  font-weight: 400;
  top: 3.5rem;
  color: var(--gray1) !important;
}

::ng-deep .custom-dropdown-wrapper .mdc-text-field .mat-mdc-form-field-flex .mat-mdc-floating-label {
  font-size: 1.3rem;
  line-height: 1.28;
  font-weight: 300;
  color: var(--gray1) !important;
}

::ng-deep .custom-dropdown-wrapper .mdc-text-field.mdc-text-field--filled .mdc-floating-label--float-above {
  transform: translateY(-109%) scale(0.85) !important;
}

::ng-deep .custom-dropdown-wrapper .mdc-text-field .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 2.8rem;
}

::ng-deep .custom-form-group .mdc-text-field .mat-mdc-icon-button {
  height: 36px;
  width: 36px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .custom-form-group .mdc-text-field .mat-mdc-icon-button .mat-mdc-button-touch-target {
  height: 36px;
  width: 36px;
}

::ng-deep .custom-form-group .password-eye-icon i {
  display: block;
}

::ng-deep .custom-form-group .password-eye-icon img {
  height: auto;
  width: 18px;
  display: block;
}

::ng-deep .custom-dropdown-wrapper .mat-mdc-select .mat-mdc-select-value-text {
  line-height: 1.2;
  color: var(--black);
}

::ng-deep .custom-form-group .mdc-text-field.mdc-text-field--filled .mdc-floating-label--float-above {
  transform: translateY(-125%) scale(0.9) !important;
}

::ng-deep .custom-form-group .mat-mdc-form-field-infix {
  padding-top: 3.3rem !important;
  padding-bottom: 1.6rem !important;
}

::ng-deep .custom-form-group .custom-form-control {
  font-size: 1.4rem !important;
  line-height: 1 !important;
}

::ng-deep .custom-form-group .mat-mdc-select-arrow {
  height: 2rem;
  width: 2rem;
  background-image: url(../images/black-down-arrow.svg);
  content: " ";
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-size: contain;
  transform-origin: center;
  transition: all 0.5s;
}

::ng-deep .custom-form-group .mat-mdc-select-arrow::before {
  display: none;
}

::ng-deep .custom-form-group .mat-mdc-select-arrow svg {
  display: none;
}

::ng-deep .custom-form-group .mat-mdc-select .mat-mdc-select-value-text {
  line-height: 1.2;
  color: var(--black);
  font-size: 1.3rem !important;
}

::ng-deep .custom-form-group.custom-textarea .mdc-text-field {
  height: auto;
}

::ng-deep .custom-form-group.custom-textarea textarea {
  height: 100%;
  resize: none;
  margin: 0 -1.4rem;
  padding: 0 1.4rem;
  width: calc(100% + 2.8rem);
}

::ng-deep .custom-form-group.datepicker .mat-datepicker-toggle .mdc-icon-button svg {
  display: none;
}

::ng-deep .custom-form-group.datepicker .mat-datepicker-toggle .mdc-icon-button {
  background-image: url(../images/date-ic.svg);
  background-position: center;
  background-size: 1.6rem;
  background-repeat: no-repeat;
  width: 3.6rem;
  height: 3.6rem;
  filter: brightness(46.4%);
}

::ng-deep .custom-form-group.datepicker .mat-datepicker-toggle .mdc-icon-button:hover {
  filter: brightness(0);
}

::ng-deep .custom-form-group.sm-form-group .mdc-text-field {
  height: 3.6rem;
}

::ng-deep .custom-form-group.sm-form-group .mdc-text-field.mdc-text-field--focused {
  border-color: var(--blue2) !important;
}

::ng-deep .custom-form-group.sm-form-group .mat-mdc-form-field-infix {
  min-height: 3.3rem !important;
  padding: 0 !important;
  line-height: 3rem !important;
}

::ng-deep .custom-form-group.sm-form-group .mat-mdc-form-field-infix input {
  font-size: 1.3rem !important;
}

::ng-deep .custom-form-group.sm-form-group .mdc-text-field.mdc-text-field--filled .mdc-floating-label--float-above {
  transform: translateY(-109%) scale(0.85) !important;
}

::ng-deep .custom-form-group.sm-form-group .mdc-text-field .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: calc(50% - 0.1rem);
}

::ng-deep .custom-form-group.sm-form-group .mdc-text-field.mdc-text-field--filled .mdc-floating-label--float-above {
  transform: translateY(-50%) scale(1) !important;
  display: none;
}

::ng-deep .custom-form-group.sm-form-group .mdc-text-field .mat-mdc-form-field-flex .mat-mdc-floating-label mat-label {
  margin: 0;
  line-height: 1.35;
}

.error-message {
  font-size: 1.2rem;
  position: absolute;
  left: -1.2rem;
  bottom: -1.5rem;
  color: var(--error);
  line-height: 1.21;
}

::ng-deep .mat-datepicker-popup .mat-datepicker-content {
  border-radius: 0.3rem;
}

::ng-deep .mat-datepicker-popup .mat-datepicker-content .mat-calendar {
  width: 26rem;
  height: 31.7rem;
}

::ng-deep .mat-calendar .mat-calendar-header {
  padding: 5px;
}

::ng-deep .mat-calendar .mat-calendar-controls {
  margin: 8px 5px 10px;
}

::ng-deep .mat-calendar .mat-calendar-controls .mat-calendar-period-button {
  padding: 0 13px;
}

::ng-deep .mat-calendar .mat-calendar-period-button {
  margin: 0;
}

::ng-deep .mat-calendar .mat-calendar-content {
  padding: 0;
}

::ng-deep .mat-calendar-table-header-divider {
  display: none;
}

::ng-deep .mat-calendar-table-header th {
  padding: 10px 0 !important;
  background: var(--light-gray);
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

::ng-deep .mat-calendar .mat-calendar-controls {
  margin: 0 !important;
}

::ng-deep .mat-datepicker-content .mat-calendar-arrow {
  background: url(../images/down-arrow-gray.svg) no-repeat;
  fill: transparent;
  background-size: 9px;
  background-position: center;
  margin-top: -3px;
}

::ng-deep .mat-calendar .mat-calendar-table-header-divider::after {
  left: 0;
  right: 0;
  background-color: transparent;
}

::ng-deep .mat-calendar .mdc-button .mdc-button__label {
  font-weight: 400;
}

::ng-deep .mat-calendar .mat-calendar-body-cell {
  background-color: transparent !important;
}

::ng-deep .mat-calendar .mat-calendar-body-selected {
  background-color: var(--blue2) !important;
}

::ng-deep .mat-calendar .mat-calendar-body-today {
  border-color: var(--primary-color) !important;
  background-color: transparent !important;
  color: var(--primary-color);
}

::ng-deep .mat-calendar .mat-calendar-body-active>.mat-calendar-body-cell-content.mat-focus-indicator:not(.mat-calendar-body-selected):not(.mat-calendar-body-today) {
  background: var(--secondary-gray) !important;
}

::ng-deep .mat-calendar .mat-calendar-body-cell:hover .mat-calendar-body-cell-content.mat-calendar-body-today {
  background-color: transparent !important;
}

::ng-deep .mat-calendar .mat-calendar-body-cell:hover .mat-calendar-body-cell-content {
  background-color: var(--light-gray2) !important;
}

::ng-deep .mat-calendar .mat-calendar-body-cell:hover .mat-calendar-body-cell-content.mat-calendar-body-selected {
  background-color: var(--blue2) !important;
}

::ng-deep .mat-calendar .mat-calendar-body-selected:hover {
  background-color: var(--primary-color) !important;
}

::ng-deep .mat-calendar .mat-calendar-body-label {
  padding: 8px 15px !important;
  line-height: 1;
  height: 36px;
  max-height: 36px;
  opacity: 0;
  /* display: none; */
}

::ng-deep .mat-calendar-body-cell-preview {
  display: none !important;
}

::ng-deep .mat-calendar .mat-calendar-body-cell::before,
::ng-deep .mat-calendar .mat-calendar-body-cell::after {
  display: none !important;
}

::ng-deep .mat-datepicker-popup .mat-datepicker-content .mat-calendar-previous-button,
::ng-deep .mat-datepicker-popup .mat-datepicker-content .mat-calendar-next-button {
  color: var(--gray3);
}

::ng-deep .mat-datepicker-popup .mat-datepicker-content .mat-calendar-previous-button:hover,
::ng-deep .mat-datepicker-popup .mat-datepicker-content .mat-calendar-next-button:hover {
  color: var(--black);
}

::ng-deep .mat-datepicker-popup .mat-datepicker-content {
  box-shadow: var(--ds-shadow-overlay, 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31)) !important;
}

.mat-mdc-form-field {
  position: relative;
}

::ng-deep .custom-dropdown-wrapper .mat-mdc-form-field::before {
  display: none;
}

/* file upload  */
::ng-deep .file-upload-form-group {
  height: 3.6rem;
  padding: 0;
  background-color: transparent;
  width: 100%;
  max-width: 32rem;
}

::ng-deep .file-upload-form-group.sm-form-group {
  height: 3.6rem;
}

::ng-deep .file-upload-form-group input.file-upload-control {
  position: relative;
  z-index: 1;
  background-color: transparent;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Arial, sans-serif !important;
}

::ng-deep .file-upload-form-group input.file-upload-control::file-selector-button {
  margin-right: 1rem;
  outline: none;
  height: 100%;
  color: var(--blue2);
  background-color: transparent;
  border-radius: 0.2rem;
  border: 0.15rem solid var(--blue2);
  transition: all 0.5s;
  padding: 0 1.2rem;
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-family: "Segoe UI", Arial, sans-serif !important;
  font-weight: 400;
}

::ng-deep .file-upload-form-group input.file-upload-control::file-selector-button:hover {
  background-color: var(--dark-white8);
}

.file-upload-form-group .gray-text {
  color: var(--dark-white3);
  margin-top: 0.7rem;
}

/* File upload with user profile preview box css start   */
.file-upload-form-group.with-preview {
  height: auto;
  display: flex;
  align-items: center;
}

.file-upload-form-group.with-preview .right label {
  color: var(--black);
  height: 4rem;
  display: inline-block;
  padding: 0 1rem;
  line-height: 4rem;
  border: 0.1rem solid var(--light-gray6);
  border-radius: 0.2rem;
  position: absolute;
}

::ng-deep .dark-theme .file-upload-form-group.with-preview .right label {
  color: var(--white) !important;
  border-color: var(--dark-tablecell-border) !important;
}

.file-upload-form-group.with-preview .preview-image {
  height: 12rem;
  width: 12rem;
  border: 0.1rem solid var(--formfield-border);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center bottom;
  object-fit: cover;
  text-indent: -10000px;
}

.file-upload-form-group.with-preview .preview-image[src=""] {
  background-image: url(../images/preview-bg-icon.jpg);

}

::ng-deep .dark-theme .file-upload-form-group.with-preview .preview-image[src=""] {
  background-image: url(../images/preview-bg-black-icon.jpg) !important;
}

::ng-deep .dark-theme .file-upload-form-group.with-preview .preview-image {
  border-color: var(--dark-tablecell-border) !important;
}

.file-upload-form-group.with-preview .preview-image * {
  border-radius: 50%;
  border: none !important;
}

.file-upload-form-group.with-preview .left {
  margin-right: 1.5rem;
  width: 12rem;
  min-width: 12rem;

}

::ng-deep .file-upload-form-group.with-preview .preview-image #alttext-image {
  display: none !important;
}

.file-upload-form-group.with-preview .preview-image #alttext-container {
  border-radius: 50%;
}

.file-upload-form-group.with-preview input.file-upload-control::file-selector-button {
  color: var(--black);
  border-color: var(--light-gray6);
  height: 4rem;
  opacity: 0;
  min-width: 10.2rem;
}

::ng-deep .dark-theme .file-upload-form-group.with-preview input.file-upload-control::file-selector-button {
  color: var(--white) !important;
  border-color: var(--dark-tablecell-border) !important;
}

.file-upload-form-group.with-preview input.file-upload-control::file-selector-button:hover {
  background-color: var(--light-gray10);
}

::ng-deep .dark-theme .file-upload-form-group.with-preview input.file-upload-control::file-selector-button:hover {
  background-color: var(--dark-white5) !important;
}

.file-upload-form-group.with-preview p {
  color: var(--breadcrumb-gray);
  margin-top: 0.7rem;
}

/* File upload with user profile preview box css end  */

/* toast messages  */
::ng-deep .mdc-snackbar__surface {
  background-color: var(--white) !important;
  font-size: 13px;
  font-weight: 500;
  padding: 0 !important;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05) !important;
}

::ng-deep .custom-switch-wrapper {
  height: 3.6rem;
  display: flex;
  align-items: center;
}

::ng-deep .custom-switch .mdc-switch__icons {
  display: none;
}

::ng-deep .custom-switch .mdc-switch {
  width: 4rem;
}

::ng-deep .custom-switch .mdc-switch .mdc-switch__track {
  height: 2rem;
  border-radius: 1rem !important;
}

::ng-deep .custom-switch .mdc-switch .mdc-switch__handle-track {
  width: calc(100% - 1.4rem);
}

::ng-deep .custom-switch .mdc-switch .mdc-switch__handle {
  width: 1.4rem;
  height: 1.4rem;
  left: 0.3rem;
  transform: translateY(-50%);
}

::ng-deep .mdc-switch:enabled .mdc-switch__shadow {
  box-shadow: none !important;
}

::ng-deep .custom-switch .mdc-switch.mdc-switch--selected .mdc-switch__handle-track {
  transform: translateX(calc(100% - 6px));
}

::ng-deep .custom-switch .mdc-switch .mdc-switch__ripple {
  width: 3.2rem;
  height: 3.2rem;
}

::ng-deep .custom-switch .mdc-switch .mdc-switch__track::before {
  background-color: var(--secondary-gray) !important;
}

::ng-deep .custom-switch .mdc-switch .mdc-switch__track::after {
  background-color: var(--blue2) !important;
}

::ng-deep .custom-switch .mdc-switch .mdc-switch__handle::before {
  background: var(--white) !important;
  border: none !important;
}

::ng-deep .custom-switch .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after,
::ng-deep .custom-switch .mdc-switch .mdc-switch__handle::after {
  background-color: transparent !important;
}

::ng-deep .custom-switch .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after {
  border: none !important;
}

::ng-deep .custom-switch .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background-color: var(--white) !important;
}

::ng-deep .custom-switch .mdc-switch.mdc-switch--selected .mdc-switch__ripple::before,
::ng-deep .custom-switch .mdc-switch.mdc-switch--selected .mdc-switch__ripple::after {
  background-color: var(--blue2) !important;
}

::ng-deep .custom-switch .mdc-form-field>label {
  order: -1;
  margin-right: 0;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 300;
  color: var(--gray1) !important;
  padding: 0;
}

::ng-deep .custom-switch .mdc-form-field {
  flex-direction: row;
  align-items: flex-start;
}

/* text area styles */
::ng-deep .custom-textarea {
  width: 100%;
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  color: var(--black) !important;
}

::ng-deep .custom-textarea.mat-focused .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-color: var(--blue2) !important;
}

::ng-deep .dark-theme .custom-textarea.mat-focused .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-color: var(--white) !important;
}

::ng-deep .custom-textarea .mdc-text-field--filled {
  background-color: transparent !important;
  border: 0.2rem solid var(--formfield-border);
  border-radius: 0.3rem !important;
  padding: 0.3rem 1rem 1rem 1rem !important;
}

::ng-deep .custom-textarea .mdc-text-field:hover {
  background-color: var(--formfield-hover-bg) !important;
}

::ng-deep .custom-textarea .mdc-text-field:hover {
  background-color: var(--formfield-hover-bg) !important;
}

::ng-deep .custom-textarea .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep .custom-textarea .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding: 0 !important;
}

::ng-deep .custom-textarea .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
::ng-deep .custom-textarea .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  resize: none;
  height: 10rem;
  overflow-y: auto;
}

/* text area styles end */

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::ng-deep .datepicker.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 0;
}

::ng-deep .datepicker .mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
  display: none !important;
}

::ng-deep .btn-sm .primary-btn,
::ng-deep .btn-sm .custom-border-btn {
  height: 3.6rem !important;
  line-height: 3.6rem !important;
  margin: 0 !important;
}

::ng-deep .btn-sm .primary-border-btn {
  height: 3.6rem !important;
  line-height: 3.6rem !important;
  margin: 0 !important;
}

::ng-deep .primary-btn.mat-mdc-outlined-button:hover .mat-mdc-button-persistent-ripple::before {
  opacity: 0;
}

::ng-deep .radio-wrapper .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  background-color: var(--blue2) !important;
}

/* custom attachments design css start*/
.custom-attachments-block {
  margin-top: 3rem;
}

.custom-attachments-block .title-btn-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin-bottom: 2rem;
}

.custom-attachments-block h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.custom-attachments-block .ems-table-wrapper {
  padding-top: 2rem;
}

.custom-attachments-block .ems-table .align-left {
  text-align: left;
}

.custom-attachments-block .ems-table .align-right {
  text-align: right;
}

/* .custom-attachments-block .ems-table td .action-wrapper {
  max-width: 15rem;
} */
.custom-attachments-block .ems-table .action-col {
  max-width: 8.4rem;
  width: 8.4rem;
}

.custom-attachments-block .ems-table .file-type-col {
  max-width: 8rem;
  width: 8rem;
}

.custom-attachments-block .ems-table th {
  padding: 1.2rem 1rem;
}

.custom-attachments-block .ems-table .file-icon-name-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.custom-attachments-block .ems-table .filetype-icon,
.custom-attachments-block .ems-table .file-icon-name-wrapper .icon {
  min-width: 2rem;
  flex: 0 0 2rem;
  max-width: 2rem;
  margin-right: 0.5rem;
}

.custom-attachments-block .ems-table .filetype-icon img,
.custom-attachments-block .ems-table .file-icon-name-wrapper .icon img {
  width: 2rem;
  height: auto;
}

/* custom attachments design css end */
::ng-deep .icon-btn {
  position: relative !important;
  height: 4rem !important;
  width: 4rem !important;
  background-color: var(--light-gray10) !important;
  border-radius: 100% !important;
  border: 0.1rem solid var(--tablecell-border) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: none !important;
  transition: all 0.5s !important;
  overflow: hidden !important;
  padding: 0 !important;
}

::ng-deep .icon-btn.icon-only {
  background-color: transparent !important;
  border: none !important;
  height: 3.2rem !important;
  width: 3.2rem !important;
  min-width: 3.2rem !important;
}

::ng-deep .icon-btn.icon-only .mdc-button__label img,
::ng-deep .icon-btn.icon-only img {
  height: 1.6rem !important;
  width: 1.6rem !important;
}

::ng-deep .icon-btn:hover {
  background-color: var(--light-gray) !important;
}

::ng-deep .icon-btn.icon-only:hover {
  background-color: var(--light-gray2) !important;
}

::ng-deep .icon-btn .mdc-button__label {
  display: flex;
}

::ng-deep .icon-btn img {
  filter: brightness(46.4%);
}

::ng-deep .icon-btn .mdc-button__label img,
::ng-deep .icon-btn img {
  height: auto !important;
  width: 1.7rem !important;
}

::ng-deep .icon-btn.plus-btn .mdc-button__label img,
::ng-deep .icon-btn.plus-btn img {
  width: 1.4rem !important;
}

::ng-deep .icon-btn .mat-mdc-button-persistent-ripple,
::ng-deep .icon-btn .mat-mdc-focus-indicator,
::ng-deep .icon-btn .mat-mdc-button-touch-target,
::ng-deep .icon-btn .mat-ripple.mat-mdc-button-ripple {
  height: 4rem !important;
  width: 4rem !important;
}

::ng-deep .icon-btn.icon-only .mat-mdc-button-persistent-ripple,
::ng-deep .icon-btn.icon-only .mat-mdc-focus-indicator,
::ng-deep .icon-btn.icon-only .mat-mdc-button-touch-target,
::ng-deep .icon-btn.icon-only .mat-ripple.mat-mdc-button-ripple {
  height: 3.2rem !important;
  width: 3.2rem !important;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep .icon-btn:hover img {
  filter: brightness(0);
}

/* lg-btn */
::ng-deep .icon-btn.lg-btn {
  height: 5.6rem !important;
  width: 5.6rem !important;
}

::ng-deep .icon-btn.lg-btn .mdc-button__label img,
::ng-deep .icon-btn.lg-btn img {
  width: 2.4rem !important;
}

::ng-deep .icon-btn.lg-btn .mat-mdc-button-persistent-ripple,
::ng-deep .icon-btn.lg-btn .mat-mdc-focus-indicator,
::ng-deep .icon-btn.lg-btn .mat-mdc-button-touch-target,
::ng-deep .icon-btn.lg-btn .mat-ripple.mat-mdc-button-ripple {
  height: 5.6rem !important;
  width: 5.6rem !important;
}

/* sm-btn */
::ng-deep .icon-btn.sm-btn {
  height: 2.6rem !important;
  width: 2.6rem !important;
}

::ng-deep .icon-btn.sm-btn .mdc-button__label img,
::ng-deep .icon-btn.sm-btn img {
  width: 1rem !important;
}

::ng-deep .icon-btn.sm-btn .mat-mdc-button-persistent-ripple,
::ng-deep .icon-btn.sm-btn .mat-mdc-focus-indicator,
::ng-deep .icon-btn.sm-btn .mat-mdc-button-touch-target,
::ng-deep .icon-btn.sm-btn .mat-ripple.mat-mdc-button-ripple {
  height: 2.6rem !important;
  width: 2.6rem !important;
}

/* custom attachments design css start*/
.custom-attachments-block {
  margin-top: 3rem;
}

.custom-attachments-block .title-btn-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin-bottom: 2rem;
}

.custom-attachments-block h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.custom-attachments-block .ems-table-wrapper {
  padding-top: 2rem;
}

.custom-attachments-block .ems-table .align-left {
  text-align: left;
}

.custom-attachments-block .ems-table .align-right {
  text-align: right;
}

/* .custom-attachments-block .ems-table td .action-wrapper {
  max-width: 15rem;
} */
.custom-attachments-block .ems-table .action-col {
  max-width: 8.4rem;
  width: 8.4rem;
}

.custom-attachments-block .ems-table .file-type-col {
  max-width: 8rem;
  width: 8rem;
}

.custom-attachments-block .ems-table th {
  padding: 1.2rem 1rem;
}

.custom-attachments-block .ems-table .file-icon-name-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.custom-attachments-block .ems-table .filetype-icon,
.custom-attachments-block .ems-table .file-icon-name-wrapper .icon {
  min-width: 2rem;
  flex: 0 0 2rem;
  max-width: 2rem;
  margin-right: 0.5rem;
}

.custom-attachments-block .ems-table .filetype-icon img,
.custom-attachments-block .ems-table .file-icon-name-wrapper .icon img {
  width: 2rem;
  height: auto;
}

/* custom attachments design css end */

/* Radio button styles start */
::ng-deep .custom-radio .mdc-label {
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--black);
  padding-left: 0;
  margin-left: 1.2rem;
  font-weight: 400;
}

::ng-deep .custom-radio+.custom-radio {
  margin-left: 1rem;
}

::ng-deep .custom-radio.mat-mdc-radio-button .mdc-radio .mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--formfield-border) !important;
}

::ng-deep .custom-radio.mat-mdc-radio-button .mdc-radio .mdc-radio__background .mdc-radio__inner-circle {
  transform: scale(0, 0);
}

::ng-deep .custom-radio .mdc-radio__native-control:checked+.mdc-radio__background {
  background-color: var(--blue2) !important;
  border-radius: 50% !important;
}

::ng-deep .custom-radio.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border: 0 !important;
}

::ng-deep .custom-radio.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: var(--white) !important;
  transform: scale(0.4);
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:focus:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
  border-color: var(--blue2) !important;
}

::ng-deep .custom-radio.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color: var(--blue2);
}

::ng-deep .custom-radio.mat-mdc-radio-button .mdc-radio {
  padding: 0;
}

::ng-deep .custom-radio .mat-mdc-radio-touch-target,
::ng-deep .custom-radio.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control {
  width: inherit;
  height: inherit;
}

::ng-deep .custom-radio.mat-mdc-radio-button .mdc-radio .mdc-radio__background::before {
  background-color: var(--blue2);
  display: none;
}

::ng-deep .custom-radio.mat-mdc-radio-button .mat-radio-ripple {
  display: none;
}

/* Radio button styles end */

/* tooltip styles */
::ng-deep .custom-tooltip {
  margin-top: 0.8rem;
  white-space: pre-line !important;
}

::ng-deep .custom-tooltip.profile-tooltip {
  margin-top: 0.5rem !important;
}

::ng-deep .custom-tooltip.left-pos {
  margin-top: 0;
  margin-right: 0.5rem;
}

::ng-deep .custom-tooltip.left-pos::after {
  right: -1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  border-left-width: 0.8rem;
  border-right-width: 0.8rem;
  border-bottom-width: 0.8rem;
}

::ng-deep .custom-tooltip.right-pos::after {
  right: auto;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  border-left-width: 0.8rem;
  border-right-width: 0.8rem;
  border-bottom-width: 0.8rem;
}

::ng-deep .custom-tooltip::after {
  position: absolute;
  content: "";
  right: 1rem;
  top: -0.6rem;
  width: 0;
  height: 0;
  border-left: 1.1rem solid transparent;
  border-right: 1.1rem solid transparent;
  border-bottom: 1.1rem solid var(--black);
  border-radius: 0.5rem;
}

::ng-deep .dark-theme .custom-tooltip::after {
  border-bottom-color: var(--dark-tooltip-bg);
}

::ng-deep .custom-tooltip.centered {
  margin-top: 0;
}

::ng-deep .custom-tooltip.centered::after {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

::ng-deep .custom-tooltip.right-arrow {
  margin-top: 0;
}

::ng-deep .custom-tooltip.right-arrow::after {
  right: 15px;
  left: auto;
  transform: none;
}

::ng-deep .custom-tooltip {
  z-index: 10000 !important;
}

::ng-deep .custom-tooltip .mdc-tooltip__surface {
  background-color: var(--black) !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  padding: 0.5rem 0.8rem !important;
  white-space: pre-line !important;
}

::ng-deep .dark-theme .custom-tooltip .mdc-tooltip__surface {
  background-color: var(--dark-tooltip-bg) !important;
}

::ng-deep .custom-tooltip.table-tooltip .mdc-tooltip__surface {
  max-width: 152px;
  text-align: left;
}

::ng-deep .custom-tooltip.lg .mdc-tooltip__surface {
  max-width: 220px;
}

::ng-deep .custom-tooltip.xlg .mdc-tooltip__surface {
  max-width: 260px;
  line-height: 1.65;
}

::ng-deep.custom-tooltip.below::after {
  border-left: 1.1rem solid transparent;
  border-right: 1.1rem solid transparent;
  border-top: 1.1rem solid var(--black);
  border-bottom: transparent;
  bottom: -0.6rem;
  top: auto;
}

::ng-deep .dark-theme .custom-tooltip.below::after {
  border-top-color: var(--dark-tooltip-bg);
}

/* tooltip styles */

/* Dark theme styles start*/
::ng-deep .dark-theme .primary-border-btn {
  background-color: var(--dark-white5) !important;
  color: var(--white) !important;
}

::ng-deep .dark-theme .primary-border-btn:hover {
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .custom-border-btn {
  background-color: transparent !important;
  color: var(--white) !important;
  border-color: var(--dark-tablecell-border) !important;
}

::ng-deep .dark-theme .custom-border-btn:hover {
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .primary-border-btn .primary-icon img,
::ng-deep .dark-theme .custom-border-btn .primary-icon img {
  filter: brightness(0) invert(1);
}

::ng-deep .dark-theme .icon-btn {
  border: 0.1rem solid var(--dark-white4) !important;
  background-color: var(--dark-white7) !important;
}

::ng-deep .dark-theme .icon-btn.icon-only {
  border: 0.1rem solid transparent !important;
  background-color: transparent !important;
}

::ng-deep .dark-theme .custom-form-group .mdc-text-field {
  background: var(--dark-black4) !important;
  border-color: var(--dark-tablecell-border) !important;
}

::ng-deep .custom-form-group.mat-mdc-form-field-has-icon-suffix .mdc-text-field {
  padding-right: 0;
}

::ng-deep .dark-theme .custom-form-group.sm-form-group .mdc-text-field.mdc-text-field--focused {
  border-color: var(--white) !important;
}

::ng-deep .dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: var(--white);
}

::ng-deep .dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder,
::ng-deep .dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--white) !important;
}

::ng-deep .dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
  opacity: 0.5 !important;
}

::ng-deep .dark-theme .custom-textarea {
  color: var(--white) !important;
}

::ng-deep .dark-theme .custom-textarea .mdc-text-field--filled {
  background: var(--dark-black4) !important;
  border-color: var(--dark-tablecell-border) !important;
}

::ng-deep .dark-theme .custom-textarea .mdc-text-field:hover {
  background-color: var(--dark-formfield-hover-bg) !important;
}

::ng-deep .dark-theme .custom-form-group .mat-mdc-select .mat-mdc-select-value-text {
  color: var(--white);
}

::ng-deep .dark-theme .custom-dropdown-wrapper .mat-mdc-select-min-line,
::ng-deep .dark-theme .custom-dropdown-wrapper .mat-mdc-select-value {
  color: var(--white) !important;
}

::ng-deep .dark-theme .custom-form-group .mat-mdc-select-arrow {
  background-image: url(../images/gray-down-arrow.svg);
}

::ng-deep .dark-theme .mat-mdc-option {
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .mat-mdc-option.mat-mdc-option-active.mdc-list-item--selected,
::ng-deep .dark-theme .mat-mdc-option:hover:not(.mdc-list-item--disabled),
::ng-deep .dark-theme .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
::ng-deep .dark-theme .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: var(--dark-white7) !important;
}

::ng-deep .dark-theme .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text,
::ng-deep .dark-theme .mat-mdc-option .mdc-list-item__primary-text {
  color: var(--white) !important;
}

::ng-deep .dark-theme div.mat-mdc-select-panel {
  border-color: var(--dark-white4);
  background-color: var(--dark-black4);
}

::ng-deep .dark-theme .mat-mdc-select-arrow:before {
  background-image: url(../images/gray-down-arrow.svg);
}

::ng-deep .dark-theme .custom-radio .mdc-label {
  color: var(--white);
}

::ng-deep .dark-theme .icon-btn img {
  filter: brightness(0) invert(1);
}

::ng-deep .dark-theme .custom-radio.mat-mdc-radio-button .mdc-radio .mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--dark-white4) !important;
}

::ng-deep .dark-theme .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background,
::ng-deep .dark-theme .custom-check .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background,
::ng-deep .dark-theme .custom-check .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background,
.dark-theme .custom-check .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background {
  border-color: var(--dark-white4) !important;
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .custom-check .mdc-checkbox .mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background {
  opacity: 0.6;
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .custom-switch .mdc-switch.mdc-switch--selected .mdc-switch__ripple::before,
::ng-deep .dark-theme .custom-switch .mdc-switch.mdc-switch--selected .mdc-switch__ripple::after {
  background-color: var(--black) !important;
}

::ng-deep .dark-theme .mat-ripple-element {
  background-color: var(--dark-black2) !important;
}

::ng-deep .dark-theme .mat-datepicker-content .mat-calendar {
  border: 0.1rem solid var(--dark-tablecell-border);
  border-radius: 0.3rem;
  overflow: hidden;
}

::ng-deep .dark-theme .custom-form-group.datepicker .mat-datepicker-toggle .mdc-icon-button {
  background-image: url(../images/date-ic-gray.svg);
  filter: none;
}

::ng-deep .dark-theme .mat-datepicker-content {
  background-color: var(--dark-white5);
  color: var(--white);
}

::ng-deep .dark-theme .mat-calendar .mat-mdc-button:not(:disabled),
::ng-deep .dark-theme .mat-datepicker-content .mat-calendar-previous-button,
::ng-deep .dark-theme .mat-datepicker-content .mat-calendar-next-button,
::ng-deep .dark-theme .mat-calendar-body-label,
::ng-deep .dark-theme .mat-calendar-body-cell-content {
  color: var(--white);
}

::ng-deep .dark-theme .mat-calendar-table-header th {
  color: var(--white);
  background-color: var(--dark-black5);
}

::ng-deep .dark-theme .mat-datepicker-content .mat-calendar-arrow {
  background: url(../images/white-down-arrow.svg) no-repeat;
  background-size: 9px;
  background-position: center;
}

::ng-deep .dark-theme .mat-calendar .mat-calendar-body-today {
  border-color: var(--dark-white4) !important;
}

::ng-deep .dark-theme .mat-calendar .mat-calendar-body-cell:hover .mat-calendar-body-cell-content {
  background-color: var(--dark-white7) !important;
}

::ng-deep .dark-theme .mat-calendar .mat-calendar-body-selected {
  background-color: var(--dark-black4) !important;
}

::ng-deep .dark-theme .mat-calendar .mat-calendar-body-cell:hover .mat-calendar-body-cell-content.mat-calendar-body-selected {
  background-color: var(--dark-black4) !important;
}

::ng-deep .dark-theme .mat-calendar .mat-calendar-body-selected:hover {
  background-color: var(--dark-black4) !important;
}

::ng-deep .dark-theme .mat-calendar .mat-calendar-body-active>.mat-calendar-body-cell-content.mat-focus-indicator:not(.mat-calendar-body-selected):not(.mat-calendar-body-today) {
  background: var(--dark-white7) !important;
}

::ng-deep .dark-theme .mat-calendar-previous-button::after,
::ng-deep .dark-theme .mat-calendar-next-button::after {
  filter: brightness(0) invert(0.7);
}

::ng-deep .dark-theme .link-underline {
  color: var(--dark-white) !important;
}

::ng-deep .dark-theme .file-upload-form-group {
  background-color: transparent;
}

/* ::ng-deep .dark-theme .file-upload-form-group input.file-upload-control::file-selector-button {
  color: var(--white);
  border: 0.15rem solid var(--dark-white4);
} */

::ng-deep .dark-theme .file-upload-form-group input.file-upload-control::file-selector-button:hover {
  background-color: var(--dark-white5);
}

::ng-deep .dark-theme .primary-border-btn .mdc-button__label .icon {
  filter: brightness(0) invert(1);
}

::ng-deep .custom-switch .mdc-elevation-overlay {
  background-color: var(--white) !important;
}

::ng-deep .mat-mdc-form-field.mat-form-field-disabled {
  background-color: transparent;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  color: var(--black) !important;
}

::ng-deep .dark-theme .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  color: var(--white) !important;
}

::ng-deep .dark-theme .custom-switch .mdc-switch .mdc-switch__track::before {
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .custom-switch .mdc-elevation-overlay {
  background-color: var(--dark-tablecell-border) !important;
}

::ng-deep .dark-theme .custom-switch .mdc-switch .mdc-switch__handle::before {
  background: transparent !important;
}

::ng-deep .dark-theme .custom-switch .mdc-switch--checked .mdc-elevation-overlay {
  background-color: var(--white) !important;
}

/* Dark theme styles end*/

@media (max-width:1199px) {
  .form-row.has-four-col .form-col {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width:767px) {
  ::ng-deep .custom-form-group .mdc-text-field {
    height: 6rem;
  }

  ::ng-deep .custom-form-group .mat-mdc-form-field-infix {
    padding-top: 2.7rem !important;
    padding-bottom: 1rem !important;
  }

  ::ng-deep .custom-form-group .mdc-text-field .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 3rem;
  }

  ::ng-deep .custom-form-group .mdc-text-field.mdc-text-field--filled .mdc-floating-label--float-above {
    transform: translateY(-105%) scale(0.9) !important;
  }

  .form-row.has-four-col .form-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width:575px) {
  .form-row .form-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form-row.has-four-col .form-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width:480px) {
  ::ng-deep .custom-dropdown-wrapper {
    width: 100%;
  }

  ::ng-deep .custom-dropdown-wrapper .mat-mdc-form-field {
    width: 100% !important;
  }

  ::ng-deep .file-upload-form-group input.file-upload-control::file-selector-button {
    padding: 0 1rem;
  }
}

::ng-deep .custom-check .mdc-label~.full-width {
  max-width: 100%;
}

::ng-deep .required-label::after {
  display: inline !important;
  margin-left: 2px !important;
  margin-right: 0px !important;
  content: "*" !important;
}

::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  display: inline !important;
  margin-left: 3px !important;
  margin-right: 0px !important;
  content: "*" !important;
}

::ng-deep button em img {
  display: inherit;
}

.add-group-form {
  margin-bottom: -1rem !important;
}

/* file upload with preview and close button design start  */
::ng-deep .file-upload-block {
  display: flex !important;
}

::ng-deep .file-upload-block .file-upload-button {
  margin-right: 1rem;
  outline: none;
  height: 36px;
  color: var(--blue2);
  background-color: transparent;
  border-radius: 0.2rem;
  border: 0.15rem solid var(--blue2);
  transition: all 0.5s;
  padding: 0 1.1rem;
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 3.3rem;
  font-weight: 400;
  display: inline-block;

}

::ng-deep .file-upload-block .file-item {
  display: flex;
  align-items: center;
  border: none;
  padding: 0 !important;
  margin-bottom: 0;
  flex: 0 0 calc(100% - 102px);
  max-width: calc(100% - 102px);
  justify-content: flex-start !important;
}

::ng-deep .file-upload-block .file-upload-form-group {
  max-width: inherit !important;
  width: auto !important;
  min-width: 10.2rem;
}

::ng-deep .file-upload-block .file-item .link {
  color: inherit;
  max-width: calc(100% - 30px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 2px;
}

::ng-deep .file-upload-block .file-item .link:hover {
  color: var(--blue2);
}

::ng-deep .file-upload-block .file-icons span {
  margin-left: 0px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

::ng-deep .file-upload-block .file-icons span img {
  height: 1.1rem;
}

::ng-deep .file-notes {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--breadcrumb-gray);
  font-style: italic;
}

/* file upload with preview and close button design end  */

/* select with auto complete css  */
::ng-deep .contains-mat-select-search {
  top: 0 !important;
  margin-top: 0 !important;
  width: 100% !important;
  left: 0;
  padding: 1rem !important;
}

::ng-deep .contains-mat-select-search .mat-select-search-clear {
  display: none !important;
}

::ng-deep .contains-mat-select-search .mat-select-search-input {
  padding: 0 1rem 0 3.2rem !important;
  border: 0.2rem solid var(--tablecell-border) !important;
  border-radius: 0.2rem !important;
  width: calc(100% - 2rem) !important;
  left: 1rem;
  position: relative;
  top: 1rem;
  right: 1rem;
}

::ng-deep .mat-select-search-no-entries-found.contains-mat-select-search .mat-select-search-input {
  width: calc(100% - 2rem) !important;
}

::ng-deep .dark-theme .contains-mat-select-search .mat-select-search-input {
  background: var(--dark-black4) !important;
  border-color: var(--dark-tablecell-border) !important;
}

::ng-deep .dark-theme .contains-mat-select-search {
  border-color: var(--dark-white4) !important;
}

::ng-deep .contains-mat-select-search .mat-select-search-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--black) !important;
  opacity: 0.5 !important;
}

::ng-deep .contains-mat-select-search .mat-select-search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--black) !important;
  opacity: 0.5 !important;
}

::ng-deep .contains-mat-select-search .mat-select-search-input:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--black) !important;
  opacity: 0.5 !important;
}

::ng-deep .contains-mat-select-search .mat-select-search-input:-moz-placeholder {
  /* Firefox 18- */
  color: var(--black) !important;
  opacity: 0.5 !important;
}

::ng-deep .dark-theme .contains-mat-select-search .mat-select-search-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--white) !important;
  opacity: 0.5 !important;
}

::ng-deep .dark-theme .contains-mat-select-search .mat-select-search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--white) !important;
  opacity: 0.5 !important;
}

::ng-deep .dark-theme .contains-mat-select-search .mat-select-search-input:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--white) !important;
  opacity: 0.5 !important;
}

::ng-deep .dark-theme .contains-mat-select-search .mat-select-search-input:-moz-placeholder {
  /* Firefox 18- */
  color: var(--white) !important;
  opacity: 0.5 !important;
}

::ng-deep .contains-mat-select-search:before {
  position: absolute !important;
  left: 2rem !important;
  top: 2.4rem !important;
  background-image: url(../images/search-icon.svg) !important;
  width: 1.2rem !important;
  height: 1.2rem !important;
  content: " " !important;
  z-index: 102 !important;
  opacity: 1 !important;
  background-color: transparent !important;
}

::ng-deep .contains-mat-select-search .mat-divider {
  display: none !important;
}

::ng-deep .contains-mat-select-search .mat-select-search-no-entries-found {
  padding-top: 15px !important;
}

::ng-deep .contains-mat-select-search.mat-select-search-no-entries-found {
  border-width: 0 0.2rem 0.2rem 0.2rem !important;
}

::ng-deep .dark-theme .mat-select-search-inner-row {
  background-color: var(--dark-white5);
}

::ng-deep .mat-mdc-select-panel:has(.contains-mat-select-search) {
  scrollbar-color: var(--black3) var(--formfield-hover-bg) !important;
}

/* select with auto complete css end */
::ng-deep .mat-mdc-option:before {
  position: absolute;
  left: 0rem;
  top: 0;
  height: 100%;
  width: 0.2rem;
  background-color: var(--blue2);
  content: " ";
  transition: all 0.3s;
  opacity: 0;
  z-index: 1;

}

::ng-deep .mat-mdc-option:hover:before {
  opacity: 1;
}

::ng-deep .form-row.help-desk-form .title-heading-wrap.has-border {
  padding: 1.5rem 0 0 0 !important;
  border-top: 0.2rem solid var(--tablecell-border);
}

::ng-deep .dark-theme .form-row.help-desk-form .title-heading-wrap.has-border {
  padding: 1.5rem 0 0 0 !important;
  border-top: 0.2rem solid var(--dark-tablecell-border);
}

::ng-deep .custom-form-group .mdc-text-field:has(input[readonly="true"]),
::ng-deep .custom-textarea .mdc-text-field--filled:has(textarea[readonly="true"]),
::ng-deep .custom-form-group .mdc-text-field:has(input[disabled]),
::ng-deep .custom-textarea .mdc-text-field--filled:has(textarea[disabled]) {
  background-color: var(--formfield-prefilled-bg) !important;
}

::ng-deep .dark-theme .custom-form-group .mdc-text-field:has(input[readonly="true"]),
::ng-deep .dark-theme .custom-textarea .mdc-text-field--filled:has(textarea[readonly="true"]),
::ng-deep .dark-theme .custom-form-group .mdc-text-field:has(input[disabled]),
::ng-deep .dark-theme .custom-textarea .mdc-text-field--filled:has(textarea[disabled]) {
  background-color: var(--dark-white5) !important;
}

::ng-deep .custom-form-group.sm-form-group .mdc-text-field.mdc-text-field--focused:has(input[readonly="true"]),
::ng-deep .custom-textarea .mdc-text-field--filled.mdc-text-field--focused:has(textarea[readonly="true"]),
::ng-deep .custom-form-group .mdc-text-field.mdc-text-field--focused:has(input[disabled]),
::ng-deep .custom-textarea .mdc-text-field--filled.mdc-text-field--focused:has(textarea[disabled]) {
  border-color: var(--formfield-border) !important;
}

::ng-deep .dark-theme .custom-form-group.sm-form-group .mdc-text-field.mdc-text-field--focused:has(input[readonly="true"]),
::ng-deep .dark-theme .custom-textarea .mdc-text-field--filled.mdc-text-field--focused:has(textarea[readonly="true"]),
::ng-deep .dark-theme .custom-form-group .mdc-text-field.mdc-text-field--focused:has(input[disabled]),
::ng-deep .dark-theme .custom-textarea .mdc-text-field--filled.mdc-text-field--focused:has(textarea[disabled]) {
  border-color: var(--dark-tablecell-border) !important;
}

::ng-deep .custom-form-group .mdc-text-field input[readonly="true"],
::ng-deep .custom-form-group .mdc-text-field input[disabled],
::ng-deep .custom-textarea .mdc-text-field--filled textarea[readonly="true"],
::ng-deep .custom-textarea .mdc-text-field--filled textarea[disabled],
::ng-deep .custom-form-group .mdc-text-field .mat-datepicker-toggle[disabled] {
  cursor: not-allowed;
}

::ng-deep .custom-dropdown-wrapper .mat-mdc-form-field.mat-form-field-disabled {
  cursor: not-allowed;
  background-color: var(--formfield-prefilled-bg) !important;
  border-radius: 3px !important;
}

::ng-deep .dark-theme .custom-dropdown-wrapper .mat-mdc-form-field.mat-form-field-disabled,
::ng-deep .dark-theme .custom-form-group .mdc-text-field.mdc-text-field--disabled {
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .mat-mdc-select-panel:has(.contains-mat-select-search) {
  scrollbar-color: var(--light-gray9) var(--black8) !important;
}

::ng-deep .dark-theme .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel .custom-form-group {
  background-color: var(--dark-white5) !important;
}

::ng-deep .mat-mdc-menu-panel {
  box-shadow: none !important;
  border: 2px solid var(--tablecell-border);
  border-radius: 4px;
  max-height: 275px;
  min-width: unset;
  max-width: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  background: var(--white);
  width: 100%;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-content {
  padding: 0;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-item {
  padding: 0.9rem 1rem;
  font-size: 1.3rem !important;
  min-height: auto !important;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-item:not([disabled]):hover,
::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-item.active {
  background-color: var(--light-gray2) !important;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-size: 1.3rem !important;
  line-height: 1.28 !important;
  color: var(--black) !important;
  font-weight: 400;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-item:before {
  position: absolute;
  left: 0rem;
  top: 0;
  height: 100%;
  width: 0.2rem;
  background-color: var(--blue2);
  content: " ";
  transition: all 0.3s;
  opacity: 0;
  border: 0;
  display: block;
}

::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-item:hover:before {
  opacity: 1;
}

::ng-deep .dark-theme .mat-mdc-menu-panel .mat-mdc-menu-item {
  background-color: var(--dark-white5) !important;
}

::ng-deep .dark-theme .mat-mdc-menu-panel .mat-mdc-menu-item:not([disabled]):hover,
::ng-deep .dark-theme .mat-mdc-menu-panel .mat-mdc-menu-item.active {
  background-color: var(--dark-white7) !important;
}

::ng-deep .dark-theme .mat-mdc-menu-panel {
  border-color: var(--dark-white4) !important;
}

::ng-deep .dark-theme .mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  color: var(--white) !important;
}