::ng-deep .mat-mdc-dialog-surface {
  overflow-x: hidden;
}

::ng-deep .mdc-dialog__container {
  border-radius: 4px !important;
  overflow: hidden;
}

.modal-wrapper {
  padding: 2rem;
}

::ng-deep .mat-mdc-dialog-container {
  max-height: calc(100vh - 8rem);
}

.modal-wrapper .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 1.6rem;
}

.modal-wrapper .modal-footer {
  padding: 1.6rem 0 0;
  text-align: right;
}

.modal-wrapper .modal-footer button+button {
  margin-left: 1rem;
}

::ng-deep .modal-wrapper .modal-footer button:focus ::ng-deep .modal-wrapper .modal-footer button:active {
  background-color: transparent !important;
}

.modal-wrapper .modal-header h2 {
  padding-right: 1.5rem;
  margin-bottom: 0;
  margin-right: 2rem;
  text-transform: capitalize;
}

::ng-deep .modal-wrapper .modal-header .close-btn {
  padding: 1.1rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--light-gray);
  border-radius: 50%;
  border: 0.1rem solid var(--tablecell-border);
}

::ng-deep .modal-wrapper .modal-header .close-btn img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

::ng-deep .modal-wrapper .modal-header .close-btn img.dark {
  display: none;
}

.modal-wrapper .modal-footer .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

::ng-deep .modal-wrapper .modal-footer .btn-wrap .mat-mdc-button:not(:last-child),
::ng-deep .modal-wrapper .modal-footer .btn-wrap lib-button:not(:last-child) {
  margin-right: 1rem;
}

.modal-wrapper ::ng-deep .primary-btn,
.modal-wrapper ::ng-deep .primary-border-btn {
  height: 3.6rem !important;
  line-height: 3.4rem !important;
  padding: 0 1.3rem !important;
}

/* .modal-confirmation .close-btn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
} */
.modal-confirmation .modal-header {
  justify-content: space-between;
  padding: 0 0 1rem;
}

/* ::ng-deep .mat-mdc-dialog-container {
  padding: 6rem 0;
  top: 50%;
  max-height: calc(100vh - 1rem);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
} 
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  height: auto;
  width: auto;
} */
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0.3rem;
  box-shadow: 0 0 #000, 0 0 #0000, 0 0 #000, 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  background-color: var(--white);
}

.modal-confirmation .modal-header h2 {
  padding-right: 0;
  text-transform: capitalize;
}

.modal-confirmation .modal-content {
  text-align: left;
}

.modal-confirmation .modal-content p {
  max-width: 35rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

.modal-confirmation .modal-footer .btn-wrap {
  justify-content: right;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem -2rem;
}

.form-row .form-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 1rem;
  margin: 0 0 2rem;
}

.form-row .form-col.full-width {
  flex: 0 0 100%;
  max-width: 100%;
}

::ng-deep .cdk-overlay-container {
  z-index: 1003 !important;
}

/* ::ng-deep
  .cdk-global-overlay-wrapper[style="justify-content: center; align-items: center;"] {
  top: 3% !important;
} */
::ng-deep .cdk-global-overlay-wrapper[style="justify-content: center; align-items: center;"] .cdk-overlay-pane {
  max-width: 95vw !important;
}

/* Dark theme styles start*/
::ng-deep .dark-theme .mat-mdc-dialog-container .mdc-dialog__surface {
  background: var(--dark-white5);
}

::ng-deep .dark-theme .modal-wrapper .modal-header .close-btn img.light {
  display: none;
}

::ng-deep .dark-theme .modal-wrapper .modal-header .close-btn img.dark {
  display: block;
}

::ng-deep .dark-theme .modal-wrapper .modal-header .close-btn {
  background: var(--dark-white7);
  border-color: var(--dark-white4);
}


::ng-deep .dark-theme .modal-wrapper .primary-border-btn {
  background: var(--black7) !important;
}

/* Dark theme styles end*/
@media (max-width: 575px) {
  .form-row .form-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}