<mat-toolbar class="site-header">
    <div class="container-fluid">
        <div class="header-inner-wrapper">
            <div class="header-left-block">
                <div class="hamburger-ic" (click)="toggleSidebar()">
                    <div class="icon-wrap">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="header-right-block">
                <div class="dropdown-with-autocomplete">
                    <div class="input-wrap">
                        <mat-label>Select Project</mat-label>
                        <mat-form-field
                            class="example-full-width custom-form-group sm-form-group project-select-autocomplete-group">
                            <input id="selectProejct" type="text" placeholder="Select Project" aria-label="Number"
                                matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete class="project-select-autocomplete" autoActiveFirstOption
                                #auto="matAutocomplete" (opened)="onAutocompleteOpened()"
                                (closed)="onAutocompleteClosed()">
                                @for (option of filteredOptions | async; track option) {
                                <mat-option [value]="option">{{option}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="notification-block">
                    <button mat-fab class="icon-btn" title="Notification">
                        <img src="./assets/images/notification-icon.svg" alt="Notification" />
                        <span class="counter"></span>
                    </button>
                    <button mat-fab class="icon-btn" (click)="onThemeChange(tooltipContent)" #tooltip="matTooltip"
                        [matTooltip]="tooltipContent" matTooltipClass="custom-tooltip centered profile-tooltip"
                        [matTooltipPosition]="'below'">
                        <img src="./assets/images/dark-mode-icon.svg" alt="Dark Mode Icon" class="light" />
                        <img src="./assets/images/light-mode-icon.svg" alt="Light Mode Icon" class="dark" />
                    </button>
                </div>
                <!-- Switch for PASS & PMS switching commented as PASS will not be implemented  -->
                <!-- <div class="menu-block">
                    <div class="menu-inner-wrapper">
                        <div class="menu-wrapper">
                            <div mat-button [matMenuTriggerFor]="switchMenu" (click)="openMenu(0)" class="icon-btn"
                                #tooltip="matTooltip" matTooltip="Switch To"
                                matTooltipClass="custom-tooltip profile-tooltip" [matTooltipPosition]="'below'">
                                <img src="./assets/images/switch-header-icon.svg" alt="Switch To Icon" />
                            </div>
                            <mat-menu #switchMenu="matMenu" class="menu-main switch-menu">
                                <div (click)="$event.stopPropagation();$event.preventDefault();">
                                    <div class="switch-menu-btn-wrapper">
                                        <div class="switch-btn">
                                            <a routerLink="/" class="switch-link active" 
                                            #tooltip="matTooltip" matTooltip="Project Management System"
                                            matTooltipClass="custom-tooltip profile-tooltip centered" 
                                            [matTooltipPosition]="'below'">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M17 10C13.141 10 10 13.14 10 17C10 20.86 13.141 24 17 24C20.859 24 24 20.86 24 17C24 13.14 20.859 10 17 10ZM17 22C14.243 22 12 19.757 12 17C12 14.243 14.243 12 17 12C19.757 12 22 14.243 22 17C22 19.757 19.757 22 17 22ZM18.707 17.293C19.098 17.684 19.098 18.316 18.707 18.707C18.512 18.902 18.256 19 18 19C17.744 19 17.488 18.902 17.293 18.707L16.293 17.707C16.105 17.519 16 17.265 16 17V15C16 14.448 16.447 14 17 14C17.553 14 18 14.448 18 15V16.586L18.707 17.293ZM9 22H5C3.346 22 2 20.654 2 19V14H8C8.553 14 9 13.552 9 13C9 12.448 8.553 12 8 12H2V9C2 7.346 3.346 6 5 6H19C20.654 6 22 7.346 22 9C22 9.552 22.447 10 23 10C23.553 10 24 9.552 24 9C24 6.243 21.757 4 19 4H17.899C17.434 1.721 15.414 0 13 0H11C8.586 0 6.565 1.721 6.101 4H5C2.243 4 0 6.243 0 9V19C0 21.757 2.243 24 5 24H9C9.553 24 10 23.552 10 23C10 22.448 9.553 22 9 22ZM11 2H13C14.304 2 15.415 2.836 15.828 4H8.172C8.585 2.836 9.696 2 11 2Z" />
                                                </svg>

                                                <span class="name">PMS</span>
                                            </a>
                                        </div>
                                        <div class="switch-btn">
                                            <a routerLink="/" class="switch-link"
                                            matTooltip="Performance Assessments and Goals Settings"
                                            matTooltipClass="custom-tooltip profile-tooltip pass-tooltip" 
                                            [matTooltipPosition]="'below'">
                                                <svg width="25" height="25" viewBox="0 0 25 25"  xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M24.9749 12.4875C24.9749 19.3764 19.3764 24.9749 12.4875 24.9749C5.59855 24.9749 0 19.3764 0 12.4875C0 5.59855 5.59855 0 12.4875 0C13.2471 0 14.0172 0.0728436 14.756 0.208125C15.318 0.312187 15.6926 0.853311 15.5885 1.41525C15.4845 1.97718 14.9433 2.35181 14.3814 2.24774C13.7674 2.13328 13.1223 2.08125 12.4875 2.08125C6.75364 2.08125 2.08125 6.75364 2.08125 12.4875C2.08125 18.2213 6.75364 22.8937 12.4875 22.8937C18.2213 22.8937 22.8937 18.2213 22.8937 12.4875C22.8937 11.8527 22.8313 11.2179 22.7272 10.5935C22.6231 10.0316 22.9978 9.49048 23.5597 9.38642C24.132 9.28235 24.6628 9.65698 24.7668 10.2189C24.9021 10.9578 24.9749 11.7278 24.9749 12.4875ZM13.3824 6.30617C13.9547 6.38942 14.4751 5.99399 14.5583 5.42164C14.6416 4.8493 14.2461 4.32899 13.6738 4.24574C13.2783 4.19371 12.8829 4.16249 12.4875 4.16249C7.89833 4.16249 4.16249 7.89833 4.16249 12.4875C4.16249 17.0766 7.89833 20.8125 12.4875 20.8125C17.0766 20.8125 20.8125 17.0766 20.8125 12.4875C20.8125 12.092 20.7812 11.6966 20.7292 11.3012C20.646 10.7288 20.1256 10.3334 19.5533 10.4166C18.981 10.4999 18.5855 11.0202 18.6688 11.5925C18.7104 11.8839 18.7312 12.1857 18.7312 12.4875C18.7312 15.9319 15.9319 18.7312 12.4875 18.7312C9.04301 18.7312 6.24374 15.9319 6.24374 12.4875C6.24374 9.04301 9.04301 6.24374 12.4875 6.24374C12.7893 6.24374 13.091 6.26455 13.3824 6.30617ZM11.1867 9.46967C10.8017 9.04301 10.1461 9.00139 9.71941 9.38642C8.83489 10.1773 8.33539 11.3116 8.33539 12.4875C8.33539 14.7872 10.1981 16.65 12.4979 16.65C13.6842 16.65 14.8081 16.1401 15.5989 15.2659C15.984 14.8393 15.9423 14.1837 15.5157 13.7987C15.089 13.4136 14.4334 13.4553 14.0484 13.8819C13.653 14.319 13.091 14.5791 12.4979 14.5791C11.3532 14.5791 10.4166 13.6426 10.4166 12.4979C10.4166 11.9047 10.6664 11.3428 11.1138 10.9474C11.5405 10.5623 11.5821 9.90673 11.1971 9.48007L11.1867 9.46967ZM12.7997 10.7184C12.3938 11.1243 12.3938 11.7798 12.7997 12.1857C13.0078 12.3938 13.2679 12.4875 13.5385 12.4875C13.8091 12.4875 14.0692 12.3834 14.2773 12.1857L19.1787 7.28436H21.8739C22.1549 7.28436 22.415 7.16989 22.6127 6.98258L24.694 4.90133C24.9958 4.59955 25.079 4.15208 24.9229 3.76705C24.7668 3.38202 24.3818 3.12187 23.9655 3.12187H21.8843V1.04062C21.8843 0.624374 21.6345 0.239343 21.2391 0.0832498C20.8437 -0.0832498 20.4066 0.0104062 20.1048 0.312187L18.0236 2.39343C17.8259 2.59115 17.7218 2.85131 17.7218 3.13227V5.82749L12.8205 10.7288L12.7997 10.7184Z" />
                                                    </svg>
                                                    
                                                <span class="name">PASS</span>
                                            </a>
                                        </div>
                                        <button mat-fab class="icon-btn toggle-switch">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                viewBox="0 0 17 17" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M12.5669 1.20977C12.8466 0.930076 13.2989 0.930076 13.5786 1.20977L15.6096 3.24075C16.1293 3.75976 16.1293 4.60561 15.6096 5.12462L13.5786 7.1556C13.4391 7.29508 13.2558 7.36522 13.0728 7.36522C12.8897 7.36522 12.7064 7.29508 12.5669 7.1556C12.2872 6.87591 12.2872 6.42363 12.5669 6.14393L13.8127 4.89814H6.03289C4.04648 4.89814 2.43092 6.51369 2.43092 8.50008C2.43092 8.89572 2.11036 9.21553 1.71546 9.21553C1.32056 9.21553 1 8.89572 1 8.50008C1 5.725 3.25779 3.46723 6.03289 3.46723H13.8127L12.5669 2.22144C12.2872 1.94175 12.2872 1.48947 12.5669 1.20977ZM14.5691 8.50008C14.5691 8.10444 14.8896 7.78462 15.2845 7.78462C15.6794 7.78462 16 8.10444 16 8.50008C16 11.2752 13.7422 13.5329 10.9671 13.5329H3.18726L4.43306 14.7787C4.71276 15.0584 4.71276 15.5107 4.43306 15.7904C4.29358 15.9299 4.11028 16 3.92722 16C3.74416 16 3.56086 15.9299 3.42138 15.7904L1.39038 13.7594C0.870695 13.2404 0.870695 12.3945 1.39038 11.8755L3.42138 9.84455C3.70108 9.56486 4.15336 9.56486 4.43306 9.84455C4.71276 10.1242 4.71276 10.5765 4.43306 10.8562L3.18726 12.102H10.9671C12.9535 12.102 14.5691 10.4865 14.5691 8.50008Z"
                                                    fill="#707070" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </div> -->
                <div class="menu-block">
                    <div class="menu-inner-wrapper">
                        <div class="menu-wrapper" *ngIf="userData">
                            <div mat-button [matMenuTriggerFor]="menu" (click)="openMenu(0)" class="profile-name"
                                tabindex="0" #tooltip="matTooltip" [matTooltip]="userData.memberName || ''"
                                matTooltipClass="custom-tooltip profile-tooltip" [matTooltipPosition]="'below'">
                                <ng-container *ngTemplateOutlet="profilePhoto"></ng-container>
                            </div>
                            <mat-menu #menu="matMenu" class="menu-main">
                                <div class="profile-menu" (click)="$event.stopPropagation();$event.preventDefault();">
                                    <div class="profile-icon">
                                        <ng-container *ngTemplateOutlet="profilePhoto"></ng-container>
                                    </div>
                                    <div class="profile-info">
                                        <div class="profile-name">{{userData.memberName}}</div>
                                        <div class="profile-email">
                                            {{userData.email}}
                                        </div>
                                    </div>
                                </div>
                                <button mat-button type="button" title="My Profile" (click)="userProfile()">
                                    <em><img src="./assets/images/menu-my-profile-icon.svg" alt="My Profile" /></em>
                                    My Profile
                                </button>
                                <button mat-button type="button" title="Widgets Settings" (click)="widgetSetting()">
                                    <em><img src="./assets/images/menu-widget-settings-icon.svg"
                                            alt="Widgets Settings" /></em>
                                    Widgets Settings
                                </button>
                                <button mat-button type="button" (click)="openDialog()" title="Change Password">
                                    <em><img src="./assets/images/menu-change-password-icon.svg"
                                            alt="Change password" /></em>
                                    Change Password
                                </button>
                                <button mat-button type="button" title="Logout" (click)="logout()">
                                    <em><img src="./assets/images/menu-logout-icon.svg" alt="Logout" /></em>
                                    Logout
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
<ng-template #profilePhoto>
    <div *ngIf="userData">
        <img *ngIf="userData.profilePhoto"
            [src]="(userData.profilePhoto && userData.profilePhoto.fileContents && userData.profilePhoto.contentType ? 'data:' + userData.profilePhoto.contentType + ';base64,' + userData.profilePhoto.fileContents : '')"
            alt="Member" class="profile-img" />
        <img *ngIf="!userData.profilePhoto" src="../../../../../../assets/images/preview-bg-icon.jpg" alt="Member"
            class="profile-img" />
    </div>
</ng-template>