<div class="workspace-error-page page-not-found">
    <div class="error-img-wrapper">
        <img src="../../../../assets/images/not-found-icon.svg" alt="Page Not Found Icon">
    </div>
    <h1>404 <br /> Page not found</h1>
    <p>The link you followed probably broken or the page has been removed.</p>
    <div class="btn-sm">
        <a [routerLink]="dashboardRoute" class="primary-btn">Go to Dashboard</a>
    </div>
</div>