<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" [showAddButton]="false"
            [heading]="isEdit ? 'Edit Document': 'Add Document'"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="addDocumentFormGroup">
                <div class="form-row add-group-form sm">
                    <div class="form-col">
                        <lib-form-field *ngIf="documentCategory" [config]="documentCategory" [isSubmitted]="submitted"
                            type="dropdown"></lib-form-field>
                    </div>
                    <div class="form-col">
                        <lib-form-field *ngIf="title" [config]="title" type="text"
                            [isSubmitted]="submitted"></lib-form-field>
                    </div>
                    <div class="form-col">
                        <lib-form-field *ngIf="status" [config]="status" type="dropdown"></lib-form-field>
                    </div>
                    <div class="form-col">
                        <lib-form-field *ngIf="displayOrder" [config]="displayOrder" [isSubmitted]="submitted"
                            type="text"></lib-form-field>
                    </div>
                    <div class="form-col">
                        <lib-file-input #fileInputComponent (selectedFileChange)="fileBrowseHandler($event)"
                            [fileList]="this.fileList" [config]="file"
                            (fileErrorStatusChanged)="handleFileErrorStatusChange($event)" [isSubmitted]="fileSubmitted"
                            (previewFile)="previewDocument($event)" (deleteFile)="deleteFile($event)">
                        </lib-file-input>
                    </div>
                </div>
            </form>
            <div class="right-wrapper"></div>
        </div>
    </div>
    <div class="grid-content-wrap">
        <app-save-cancel-button [saveButtonConfig]="saveButtonConfig"
            [cancelButtonConfig]="cancelButtonConfig"></app-save-cancel-button>
    </div>
</div>