@import url('@styles/filter-block.css');
@import url('@styles/form-elements.css');
@import url('@styles/workspace-table.css');
@import url("@styles/custom-helper.css");

.resource-management-wrapper .right-wrapper{
    margin-bottom: 0;
}

.resource-management-wrapper .filter-title-wrapper .title-link-wrap:last-child {
    margin-bottom: -0.5rem;
}

.resource-management-wrapper .form-group-wrapper{
    margin: 0 -0.5rem 0;
}
.resource-management-wrapper .sales-list-item .btn-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid var(--tablecell-border);
    gap: 1rem;
}
.resource-management-wrapper .sales-list-item .btn-wrapper .btn-sm{
    margin-left: 1rem;
}
.resource-management-wrapper .sales-list-item .btn-wrapper .custom-radio-checkbox-wrapper + .custom-radio-checkbox-wrapper{
    margin-left: 2rem;
}
::ng-deep .resource-management-wrapper .custom-check .mdc-label{
    max-width: 100%;
    line-height: 1.3;
}
.resource-management-wrapper .sales-list-item.col-5{
    align-self: flex-start;
}
/* nested table css */
::ng-deep .workspace-table.has-child-table .nested-table-action.table-icon-btn img {
    height: 1.2rem;
    width: 1.2rem;
    filter: brightness(1);
}
::ng-deep .workspace-table.has-child-table .nested-table-action.table-icon-btn img.remove-icon {
    display: none;
}
::ng-deep .workspace-table.has-child-table .nested-table-action.table-icon-btn {
    cursor: default;
    opacity: 0.5;
}
::ng-deep .workspace-table.has-child-table .main-table-row .nested-table-action.table-icon-btn {
    cursor: pointer;
    opacity: 1;
}
::ng-deep .workspace-table.has-child-table .main-table-row .nested-table-action.table-icon-btn img {
    filter: brightness(46.4%);
}
::ng-deep .workspace-table.has-child-table .main-table-row.contains-expanded-row .nested-table-action.table-icon-btn img.remove-icon {
    display: block;
}
::ng-deep .workspace-table.has-child-table .main-table-row.contains-expanded-row .nested-table-action.table-icon-btn img.add-icon {
    display: none;
}
::ng-deep .workspace-table.has-child-table .innertable-detail-row {
    height: 0;
}
::ng-deep .workspace-table.has-child-table .innertable-detail-row > td:first-child {
    padding: 0;
    border: none;
}

::ng-deep .workspace-table.has-child-table .innertable-detail-row .inner-table-wrapper {
    padding: 0.5rem 0.5rem 0.5rem 4.1rem;
}
::ng-deep .workspace-table.has-child-table .innertable-detail-row .inner-table-wrapper>.workspace-table-responsive {
    box-shadow: 0px 1px 1px #091E4240, 0px 0px 0px #091E424F;
}


::ng-deep .workspace-table .sr-no-column,
.workspace-table .sr-no-column {
  width: 5rem !important;
  min-width: 4.1rem !important;
  max-width: 4.1rem !important;
}
::ng-deep .workspace-table .name-column {
    width: 22rem;
    min-width: 22rem;
    max-width: 22rem;
    white-space: normal;
}
::ng-deep .workspace-table .dept-name-column  {
    width: 9rem;
    min-width: 9rem;
    max-width: 9rem;
    white-space: normal;
}
::ng-deep .workspace-table .designation-column {
    width: 9rem;
    min-width: 9rem;
    max-width: 9rem;
    white-space: normal;
}
::ng-deep .workspace-table .experience-column  {
    width: 9rem;
    min-width: 9rem;
    max-width: 9rem;
    white-space: normal;
}
::ng-deep .workspace-table th.ro-name-column,
::ng-deep .workspace-table td.ro-name-column {
    width: 26rem;
    min-width: 26rem;
    max-width: 26rem;
    white-space: normal;
}
::ng-deep .workspace-table .workstatus-column {
    width: 14rem;
    min-width: 14rem;
    max-width: 14rem;
    white-space: normal;
}
::ng-deep .workspace-table .total-hrs-column  {
    width: 9rem;
    min-width: 9rem;
    max-width: 9rem;
    white-space: normal;
}
::ng-deep .workspace-table .release-date-column {
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    white-space: normal;
}
::ng-deep .workspace-table .no-of-projects-column {
    width: 8rem;
    min-width: 8rem;
    max-width: 8rem;
    white-space: normal;
}
::ng-deep .mat-mdc-select-placeholder {
    font-size: 1.3rem;
    color: var(--black) !important;
    transition: all 0s !important;
}

::ng-deep .dark-theme .mat-mdc-select-placeholder {
    font-size: 1.3rem;
    color: var(--white) !important;
}

::ng-deep .workspace-table .table-icon-btn {
    background-color: transparent;
    width: 2.7rem;
    height: 2.7rem;

}

::ng-deep .workspace-table .table-icon-btn.mat-mdc-icon-button .mat-mdc-button-ripple,
::ng-deep .workspace-table .table-icon-btn.mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
    display: none;
}

::ng-deep .workspace-table .table-icon-btn img {
    width: 1.3rem !important;
    height: 1.3rem !important;
}

::ng-deep .datepicker-wrapper {
    position: relative;
}
::ng-deep .datepicker-wrapper .error {
    position: absolute;
}

::ng-deep .workspace-table .table-icon-btn.lg img {
    width: 1.6rem !important;
    height: 1.6rem !important;
}

::ng-deep .workspace-table .ro-name-column ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.6rem;
}
::ng-deep .workspace-table .ro-name-column ul li+li {
    margin-left: 1rem;
}
