.workspace-error-page {
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 430px;
}

.error-img-wrapper {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--tablecell-border);
  background: var(--light-gray);
  border-radius: 50%;
  margin-bottom: 20px;
}

.workspace-error-page h1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 300;
  max-width: 300px;
  text-align: center;
  line-height: 1.075;
}

.workspace-error-page p {
  max-width: 430px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}

::ng-deep .dark-theme .error-img-wrapper {
  border-color: var(--dark-white4);
  background-color: var(--dark-white7);
}

::ng-deep .dark-theme .error-img-wrapper img {
  filter: brightness(0) invert(0.7);
}