<div class="workspace-error-page Unauthorized-page">
    <div class="error-img-wrapper">
        <img src="../../../../assets/images/unauthorized-icon.svg" alt="Unauthorized Icon">
    </div>
    <h1>401 Unauthorized</h1>
    <p>Your authorization failed.<br />
        Please try refreshing the page and fill in the correct login details.</p>
    <div class="btn-sm">
        <a [routerLink]="dashboardRoute" class="primary-btn">Go to Dashboard</a>
    </div>
</div>