<div class="grid-wrapper-inner">
    <div class="filter-title-wrapper">
        <app-page-header [items]="breadcrumbItems" (handleAddClick)="addNotificationType()"
            tooltipMessage="Add Notification Type" [showAddButton]="pagePermissions.isAddPermission"
            heading="Notification Type"></app-page-header>
        <div class="dropdown-link-wrapper">
            <form class="left-wrapper" [formGroup]="filterForm">
                <lib-form-field [config]="name" type="text"></lib-form-field>
                <lib-form-field *ngIf="status" [config]="status" type="dropdown"></lib-form-field>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="searchBtnConfig"></lib-button>
                </div>
                <div class="btn-sm">
                    <lib-button [buttonConfig]="resetBtnConfig"></lib-button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-content-wrap">
        <lib-data-grid *ngIf="notificationTypeGridConfig" [gridConfig]="notificationTypeGridConfig"
            [resetSort]="resetSorting" [isLoading]="isGridLoading"></lib-data-grid>
    </div>
</div>