@import '../../../../assets/css/form-elements.css';
@import "../../../../assets/css/filter-block.css";
@import "../../../../assets/css/custom-helper.css";
.grid-wrapper-inner{
    padding: 1.5rem;
}
.form-group-wrapper{
    margin: 0 -1.5rem;
}
.filter-title-wrapper{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem 1 1.5rem 1.5rem;
}
.filter-title-wrapper .title-link-wrap{
    margin-bottom: 0;
}