<!-- <app-layout></app-layout>
<div class="main-wrap">
  <div class="main-content">
    <div class="main-wrapper-outer">
      <div class="grid-wrapper-inner">
        <div class="filter-title-wrapper">
          <div class="title-link-wrap">
            <div class="header-breadcrum-nav">
              <ul>
                <li><a routerLink="/" title="Dashboard">Dashboard</a></li>
              </ul>
              <h1>Form Elements</h1>
            </div>
          </div>
          <button mat-fab class="icon-btn">
            <img
              src="./assets/images/plus-icon-blue.svg"
              alt="Plus Icon Blue"
            />
          </button>
        </div>
        <div class="form-group-wrapper">
          <h2 class="form-group-item col-1 px-15 mb-15">Two col layout</h2>

          <div class="form-group-item col-2 px-15 mb-15">
            <app-textfield></app-textfield>
          </div>
          <div class="form-group-item col-2 px-15 mb-15">
            <app-date-picker></app-date-picker>
          </div>
          <div class="form-group-item col-2 px-15 mb-15">
            <app-selectdropdown></app-selectdropdown>
          </div>
          <div class="form-group-item col-2 px-15 mb-15">
            <app-multiselectdropdown></app-multiselectdropdown>
          </div>
          <div class="form-group-item col-2 px-15 mb-15">
            <app-autocomplete></app-autocomplete>
          </div>
          <h2 class="form-group-item col-1 px-15 mb-15">One col layout</h2>
          <div class="from-group-item col-1 px-15 mb-15">
            <app-textarea></app-textarea>
          </div>
          <h2 class="form-group-item col-1 px-15 mb-15">Three col layout</h2>
          <div class="form-group-item col-3 px-15 mb-15">
            <app-checkbox></app-checkbox>
          </div>
          <div class="form-group-item col-3 px-15 mb-15">
            <app-radiobutton></app-radiobutton>
          </div>
          <div class="form-group-item col-3 px-15 mb-15">
            <app-switch></app-switch>
          </div>
          <h2 class="form-group-item col-1 px-15 mb-15">One col layout</h2>
          <div class="form-group-item col-1 px-15">
            <div class="primary-btn-wrapper">
              <div class="btn-sm">
                <button mat-button class="primary-btn">
                  Primary small button
                </button>
              </div>
              <div class="btn-sm">
                <button mat-button class="primary-border-btn">
                  Secondary small button
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

