.auth-wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 3rem 3rem 25rem;
}

.auth-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background: linear-gradient(270deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
}

.auth-wrapper .auth-box {
    border-radius: 0.5rem;
    box-shadow: 0px 20px 120px 0px rgba(0, 0, 0, 0.22), 0px 16px 80px 0px rgba(0, 0, 0, 0.22), 0px 12px 40px 0px rgba(0, 0, 0, 0.08);
    background-color: var(--white);
    padding: 4rem;
    max-width: 44rem;
    width: 100%;
    position: relative;
    z-index: 1;
}

.auth-wrapper .auth-box .logo {
    margin-bottom: 2rem;
    text-align: center;
}

.auth-wrapper .auth-box .logo img {
    width: 20rem;
}

.auth-wrapper .auth-box .title-wrapper {
    margin-bottom: 2rem;
}

.auth-wrapper .auth-box .title-wrapper p {
    font-size: 1.2rem;
}

.auth-wrapper .auth-box .title-wrapper h1 {
    margin-bottom: 0.7rem;
}

.auth-wrapper .auth-box .custom-form-group {
    margin-bottom: 2rem;
}

.auth-wrapper .auth-box .control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

::ng-deep .auth-wrapper .auth-box .auth-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .auth-wrapper .auth-box .auth-btn-wrapper button.mat-mdc-button,
.auth-wrapper .auth-box .auth-btn-wrapper app-button,
::ng-deep .auth-wrapper .auth-box .auth-btn-wrapper lib-button {
    flex: 1;
}

::ng-deep .auth-wrapper .auth-box .auth-btn-wrapper button {
    width: 100%;
}

::ng-deep .auth-wrapper .auth-box .auth-btn-wrapper button.mat-mdc-button:not(:last-child),
.auth-wrapper .auth-box .auth-btn-wrapper app-button:not(:last-child),
.auth-wrapper .auth-box .auth-btn-wrapper lib-button:not(:last-child) {
    margin-right: 2rem !important;
}

::ng-deep .auth-wrapper .auth-box .custom-check {
    margin-left: 0
}

::ng-deep .auth-wrapper .mat-mdc-form-field-icon-prefix>.mat-icon,
::ng-deep .auth-wrapper .mat-mdc-form-field-icon-suffix>.mat-icon {
    color: #707070;
}


@media(max-width: 1566px) {
    .auth-wrapper {
        padding-left: 10rem;
    }
}

@media(max-width: 1199px) {
    .auth-wrapper {
        padding-left: 3rem;
        justify-content: center;
    }
}

@media(max-width:767px) {
    .auth-wrapper {
        padding: 3rem 1.5rem;
        background-position: center;
    }

    .auth-wrapper .auth-box {
        padding: 3rem 1.5rem;
    }

    .auth-wrapper .auth-box .control-wrapper .custom-check {
        width: 100%;
    }

    .auth-wrapper .auth-box .auth-btn-wrapper app-button {
        flex: unset;
        width: 100%;
    }

    .auth-wrapper .auth-box .auth-btn-wrapper app-button:not(:last-child) {
        margin: 0 0 1rem;
    }

}