<div class="grid-wrapper-inner">
  <div class="filter-title-wrapper pb-15">
    <app-page-header [items]="breadcrumbItems" heading="Hierarchy"></app-page-header>
  </div>
  <div class="grid-content-wrap">
    <app-hierarchy [hierarchyConfig]="hierarchyConfig" [loggedInUserID]="loggedInUserID"></app-hierarchy>
  </div>
</div>